Ventilation/Node-RED flows backup/CO2_Lab.json
[{"id":"ebcf39ed9b4f0ecb","type":"tab","label":"CO2_Lab","disabled":true,"info":"","env":[]},{"id":"4cbe7b18e58a52c9","type":"ha-get-entities","z":"ebcf39ed9b4f0ecb","name":"","server":"789be23e.da092c","version":1,"rules":[{"condition":"state_object","property":"entity_id","logic":"is","value":"sensor.pth_9cw_qc_temperature","valueType":"str"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":410,"y":140,"wires":[["07b30a9d4d481267"]]},{"id":"d3b448e8b663ecc4","type":"inject","z":"ebcf39ed9b4f0ecb","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","v":"true","vt":"bool"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":60,"wires":[["4cbe7b18e58a52c9","1afd66a5c7319bc0","4b6a8a7af4d27b04"]]},{"id":"07b30a9d4d481267","type":"change","z":"ebcf39ed9b4f0ecb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Temperature\": $number(payload.state)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":140,"wires":[["63940f4fb87e2511","290eff3ab9301cc5"]]},{"id":"63940f4fb87e2511","type":"influxdb out","z":"ebcf39ed9b4f0ecb","influxdb":"","name":"","measurement":"Air_detector_EWC04","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"AIoT","bucket":"CO2_Lab_Fan_on","x":800,"y":200,"wires":[]},{"id":"290eff3ab9301cc5","type":"debug","z":"ebcf39ed9b4f0ecb","name":"debug 12","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":260,"wires":[]},{"id":"de31f2ca3a10b098","type":"server-state-changed","z":"ebcf39ed9b4f0ecb","d":true,"name":"Temperature trigger","server":"789be23e.da092c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.pth_9cw_qc_temperature"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"0","ifStateType":"num","ifStateOperator":"is_not","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":170,"y":140,"wires":[["4cbe7b18e58a52c9"],[]]},{"id":"1afd66a5c7319bc0","type":"ha-get-entities","z":"ebcf39ed9b4f0ecb","name":"","server":"789be23e.da092c","version":1,"rules":[{"condition":"state_object","property":"entity_id","logic":"is","value":"sensor.pth_9cw_qc_humidity","valueType":"str"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":410,"y":200,"wires":[["594e103dd1b02c87"]]},{"id":"594e103dd1b02c87","type":"change","z":"ebcf39ed9b4f0ecb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Humidity\": $number(payload.state)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":200,"wires":[["63940f4fb87e2511","290eff3ab9301cc5"]]},{"id":"4b6a8a7af4d27b04","type":"ha-get-entities","z":"ebcf39ed9b4f0ecb","name":"","server":"789be23e.da092c","version":1,"rules":[{"condition":"state_object","property":"entity_id","logic":"is","value":"sensor.pth_9cw_qc_carbon_dioxide","valueType":"str"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":410,"y":260,"wires":[["b8457c17c2aad158"]]},{"id":"b8457c17c2aad158","type":"change","z":"ebcf39ed9b4f0ecb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"CO2\": $number(payload.state)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":599.2000122070312,"y":260.1999816894531,"wires":[["63940f4fb87e2511","290eff3ab9301cc5"]]},{"id":"47d4a423bbd04a04","type":"server-state-changed","z":"ebcf39ed9b4f0ecb","d":true,"name":"Humidity trigger","server":"789be23e.da092c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.pth_9cw_qc_humidity"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"0","ifStateType":"num","ifStateOperator":"is_not","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":180,"y":200,"wires":[["1afd66a5c7319bc0"],[]]},{"id":"5b006ac190284044","type":"server-state-changed","z":"ebcf39ed9b4f0ecb","d":true,"name":"CO2 trigger","server":"789be23e.da092c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.pth_9cw_qc_carbon_dioxide"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"0","ifStateType":"num","ifStateOperator":"is_not","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":170,"y":260,"wires":[["4b6a8a7af4d27b04"],[]]},{"id":"f519d303527330e6","type":"ha-get-entities","z":"ebcf39ed9b4f0ecb","name":"","server":"789be23e.da092c","version":1,"rules":[{"condition":"state_object","property":"entity_id","logic":"is","value":"sensor.pth_9cw_qc_temperature","valueType":"str"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":410,"y":400,"wires":[["eac6de750fdac248"]]},{"id":"9ca9178ba5824e21","type":"inject","z":"ebcf39ed9b4f0ecb","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","v":"true","vt":"bool"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":340,"wires":[["f519d303527330e6","943026056adef7b8","c1eb5c0450187f3d"]]},{"id":"eac6de750fdac248","type":"change","z":"ebcf39ed9b4f0ecb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Temperature\": $number(payload.state)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":400,"wires":[["866cab7fb7b9524d","13e0c11df66cdf87"]]},{"id":"866cab7fb7b9524d","type":"influxdb out","z":"ebcf39ed9b4f0ecb","influxdb":"","name":"","measurement":"Air_detector_EWC04","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"AIoT","bucket":"CO2_Lab_Fan_off","x":800,"y":460,"wires":[]},{"id":"13e0c11df66cdf87","type":"debug","z":"ebcf39ed9b4f0ecb","name":"debug 13","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":520,"wires":[]},{"id":"1cfcd69cf5242f0a","type":"server-state-changed","z":"ebcf39ed9b4f0ecb","d":true,"name":"Temperature trigger","server":"789be23e.da092c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.pth_9cw_qc_temperature"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"0","ifStateType":"num","ifStateOperator":"is_not","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":170,"y":400,"wires":[["f519d303527330e6"],[]]},{"id":"943026056adef7b8","type":"ha-get-entities","z":"ebcf39ed9b4f0ecb","name":"","server":"789be23e.da092c","version":1,"rules":[{"condition":"state_object","property":"entity_id","logic":"is","value":"sensor.pth_9cw_qc_humidity","valueType":"str"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":410,"y":460,"wires":[["60d7a492ea1a7773"]]},{"id":"60d7a492ea1a7773","type":"change","z":"ebcf39ed9b4f0ecb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Humidity\": $number(payload.state)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":460,"wires":[["866cab7fb7b9524d","13e0c11df66cdf87"]]},{"id":"c1eb5c0450187f3d","type":"ha-get-entities","z":"ebcf39ed9b4f0ecb","name":"","server":"789be23e.da092c","version":1,"rules":[{"condition":"state_object","property":"entity_id","logic":"is","value":"sensor.pth_9cw_qc_carbon_dioxide","valueType":"str"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":410,"y":520,"wires":[["b76b4931a564f8d1"]]},{"id":"b76b4931a564f8d1","type":"change","z":"ebcf39ed9b4f0ecb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"CO2\": $number(payload.state)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":599.2000122070312,"y":520.1999816894531,"wires":[["866cab7fb7b9524d","13e0c11df66cdf87"]]},{"id":"29a797d60c76ac20","type":"server-state-changed","z":"ebcf39ed9b4f0ecb","d":true,"name":"Humidity trigger","server":"789be23e.da092c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.pth_9cw_qc_humidity"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"0","ifStateType":"num","ifStateOperator":"is_not","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":180,"y":460,"wires":[["943026056adef7b8"],[]]},{"id":"36194968d11149c4","type":"server-state-changed","z":"ebcf39ed9b4f0ecb","d":true,"name":"CO2 trigger","server":"789be23e.da092c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.pth_9cw_qc_carbon_dioxide"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"0","ifStateType":"num","ifStateOperator":"is_not","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":170,"y":520,"wires":[["c1eb5c0450187f3d"],[]]},{"id":"c65e7b89a525e3c9","type":"ha-get-entities","z":"ebcf39ed9b4f0ecb","name":"","server":"789be23e.da092c","version":1,"rules":[{"condition":"state_object","property":"entity_id","logic":"is","value":"sensor.pth_9cw_qc_temperature","valueType":"str"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":390,"y":680,"wires":[["5f32518d0946ccd8"]]},{"id":"293789b4f29cff39","type":"inject","z":"ebcf39ed9b4f0ecb","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","v":"true","vt":"bool"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":620,"wires":[["c65e7b89a525e3c9","8eff237f836c0ffc","2cedce06c9207279"]]},{"id":"5f32518d0946ccd8","type":"change","z":"ebcf39ed9b4f0ecb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Temperature\": $number(payload.state)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":680,"wires":[["c8c874d8effb9834","089f19682271abf4"]]},{"id":"c8c874d8effb9834","type":"influxdb out","z":"ebcf39ed9b4f0ecb","influxdb":"","name":"","measurement":"Air_detector_EWC04","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"AIoT","bucket":"CO2_Lab_Fan_auto","x":780,"y":740,"wires":[]},{"id":"089f19682271abf4","type":"debug","z":"ebcf39ed9b4f0ecb","name":"debug 14","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":800,"wires":[]},{"id":"b91d70a8d82b3d40","type":"server-state-changed","z":"ebcf39ed9b4f0ecb","d":true,"name":"Temperature trigger","server":"789be23e.da092c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.pth_9cw_qc_temperature"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"0","ifStateType":"num","ifStateOperator":"is_not","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":150,"y":680,"wires":[["c65e7b89a525e3c9"],[]]},{"id":"8eff237f836c0ffc","type":"ha-get-entities","z":"ebcf39ed9b4f0ecb","name":"","server":"789be23e.da092c","version":1,"rules":[{"condition":"state_object","property":"entity_id","logic":"is","value":"sensor.pth_9cw_qc_humidity","valueType":"str"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":390,"y":740,"wires":[["493c42f275b5af64"]]},{"id":"493c42f275b5af64","type":"change","z":"ebcf39ed9b4f0ecb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Humidity\": $number(payload.state)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":740,"wires":[["c8c874d8effb9834","089f19682271abf4"]]},{"id":"2cedce06c9207279","type":"ha-get-entities","z":"ebcf39ed9b4f0ecb","name":"","server":"789be23e.da092c","version":1,"rules":[{"condition":"state_object","property":"entity_id","logic":"is","value":"sensor.pth_9cw_qc_carbon_dioxide","valueType":"str"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":390,"y":800,"wires":[["32a3bbaa54da9a35"]]},{"id":"32a3bbaa54da9a35","type":"change","z":"ebcf39ed9b4f0ecb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"CO2\": $number(payload.state)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":579.2000122070312,"y":800.1999816894531,"wires":[["c8c874d8effb9834","089f19682271abf4"]]},{"id":"416562745752610a","type":"server-state-changed","z":"ebcf39ed9b4f0ecb","d":true,"name":"Humidity trigger","server":"789be23e.da092c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.pth_9cw_qc_humidity"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"0","ifStateType":"num","ifStateOperator":"is_not","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":160,"y":740,"wires":[["8eff237f836c0ffc"],[]]},{"id":"03e0fc6496de1682","type":"server-state-changed","z":"ebcf39ed9b4f0ecb","d":true,"name":"CO2 trigger","server":"789be23e.da092c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.pth_9cw_qc_carbon_dioxide"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"0","ifStateType":"num","ifStateOperator":"is_not","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":150,"y":800,"wires":[["2cedce06c9207279"],[]]},{"id":"789be23e.da092c","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false},{"id":"1b043b9fbea30a76","type":"global-config","env":[],"modules":{"node-red-contrib-home-assistant-websocket":"0.80.3","node-red-contrib-influxdb":"0.7.0"}}]