Ventilation/Node-RED flows backup/Indoor_and_Outdoor.json
[{"id":"e5c9ec26d4488f6c","type":"tab","label":"Indoor and Outdoor","disabled":true,"info":"both new","env":[]},{"id":"9973f66811c5ebad","type":"ha-get-entities","z":"e5c9ec26d4488f6c","name":"","server":"789be23e.da092c","version":1,"rules":[{"condition":"state_object","property":"entity_id","logic":"is","value":"sensor.pth_9cw_qc_temperature","valueType":"str"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":450,"y":200,"wires":[["8cd6cf50eb599f5e"]]},{"id":"8ac69630177e17ab","type":"inject","z":"e5c9ec26d4488f6c","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","v":"true","vt":"bool"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":120,"wires":[["9973f66811c5ebad","9b73a48b5aa63cb6","ced7231bd2332b4b"]]},{"id":"8cd6cf50eb599f5e","type":"change","z":"e5c9ec26d4488f6c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Temperature\": $number(payload.state)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":200,"wires":[["5757d58896084297","056859e1c2323f12"]]},{"id":"5757d58896084297","type":"influxdb out","z":"e5c9ec26d4488f6c","influxdb":"","name":"","measurement":"Air_detector_EWC04_1","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"AIoT","bucket":"Indoor_and_Outdoor","x":840,"y":260,"wires":[]},{"id":"056859e1c2323f12","type":"debug","z":"e5c9ec26d4488f6c","name":"debug 15","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":320,"wires":[]},{"id":"ab51fd17ca0fe51a","type":"server-state-changed","z":"e5c9ec26d4488f6c","d":true,"name":"Temperature trigger","server":"789be23e.da092c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.pth_9cw_qc_temperature"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"0","ifStateType":"num","ifStateOperator":"is_not","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":210,"y":200,"wires":[["9973f66811c5ebad"],[]]},{"id":"9b73a48b5aa63cb6","type":"ha-get-entities","z":"e5c9ec26d4488f6c","name":"","server":"789be23e.da092c","version":1,"rules":[{"condition":"state_object","property":"entity_id","logic":"is","value":"sensor.pth_9cw_qc_humidity","valueType":"str"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":450,"y":260,"wires":[["aee3bb6211f5a6e5"]]},{"id":"aee3bb6211f5a6e5","type":"change","z":"e5c9ec26d4488f6c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Humidity\": $number(payload.state)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":260,"wires":[["5757d58896084297","056859e1c2323f12"]]},{"id":"ced7231bd2332b4b","type":"ha-get-entities","z":"e5c9ec26d4488f6c","name":"","server":"789be23e.da092c","version":1,"rules":[{"condition":"state_object","property":"entity_id","logic":"is","value":"sensor.pth_9cw_qc_carbon_dioxide","valueType":"str"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":450,"y":320,"wires":[["6abeb96c69cc6308"]]},{"id":"6abeb96c69cc6308","type":"change","z":"e5c9ec26d4488f6c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"CO2\": $number(payload.state)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":320,"wires":[["5757d58896084297","056859e1c2323f12"]]},{"id":"4cc364e902b1b897","type":"server-state-changed","z":"e5c9ec26d4488f6c","d":true,"name":"Humidity trigger","server":"789be23e.da092c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.pth_9cw_qc_humidity"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"0","ifStateType":"num","ifStateOperator":"is_not","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":220,"y":260,"wires":[["9b73a48b5aa63cb6"],[]]},{"id":"3db5770e7da01f15","type":"server-state-changed","z":"e5c9ec26d4488f6c","d":true,"name":"CO2 trigger","server":"789be23e.da092c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.pth_9cw_qc_carbon_dioxide"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"0","ifStateType":"num","ifStateOperator":"is_not","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":210,"y":320,"wires":[["ced7231bd2332b4b"],[]]},{"id":"47e71eb035a42172","type":"ha-get-entities","z":"e5c9ec26d4488f6c","name":"","server":"789be23e.da092c","version":1,"rules":[{"condition":"state_object","property":"entity_id","logic":"is","value":"sensor.pth_9cw_qc_2_temperature","valueType":"str"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":450,"y":500,"wires":[["e49d4853513dc637"]]},{"id":"886600769a9d9ad3","type":"inject","z":"e5c9ec26d4488f6c","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","v":"true","vt":"bool"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":420,"wires":[["47e71eb035a42172","cc1143c16e7302a5","772207fc786fb5f3"]]},{"id":"e49d4853513dc637","type":"change","z":"e5c9ec26d4488f6c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Temperature\": $number(payload.state)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":500,"wires":[["07175dfcd2d73b11","f0da5efba653911b"]]},{"id":"07175dfcd2d73b11","type":"influxdb out","z":"e5c9ec26d4488f6c","influxdb":"","name":"","measurement":"Air_detector_EWC04_2","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"AIoT","bucket":"Indoor_and_Outdoor","x":840,"y":560,"wires":[]},{"id":"f0da5efba653911b","type":"debug","z":"e5c9ec26d4488f6c","name":"debug 23","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":620,"wires":[]},{"id":"38dff95cdccd5f51","type":"server-state-changed","z":"e5c9ec26d4488f6c","d":true,"name":"Temperature trigger","server":"789be23e.da092c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.pth_9cw_qc_2_temperature"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"0","ifStateType":"num","ifStateOperator":"is_not","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":210,"y":500,"wires":[["47e71eb035a42172"],[]]},{"id":"cc1143c16e7302a5","type":"ha-get-entities","z":"e5c9ec26d4488f6c","name":"","server":"789be23e.da092c","version":1,"rules":[{"condition":"state_object","property":"entity_id","logic":"is","value":"sensor.pth_9cw_qc_2_humidity","valueType":"str"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":450,"y":560,"wires":[["2252e9ab6e2af0c4"]]},{"id":"2252e9ab6e2af0c4","type":"change","z":"e5c9ec26d4488f6c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Humidity\": $number(payload.state)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":560,"wires":[["07175dfcd2d73b11","f0da5efba653911b"]]},{"id":"772207fc786fb5f3","type":"ha-get-entities","z":"e5c9ec26d4488f6c","name":"","server":"789be23e.da092c","version":1,"rules":[{"condition":"state_object","property":"entity_id","logic":"is","value":"sensor.pth_9cw_qc_2_carbon_dioxide","valueType":"str"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":450,"y":620,"wires":[["a4746ea22abff943"]]},{"id":"a4746ea22abff943","type":"change","z":"e5c9ec26d4488f6c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"CO2\": $number(payload.state)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":639.2000122070312,"y":620.1999816894531,"wires":[["07175dfcd2d73b11","f0da5efba653911b"]]},{"id":"fd2ad2cfc1535306","type":"server-state-changed","z":"e5c9ec26d4488f6c","d":true,"name":"Humidity trigger","server":"789be23e.da092c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.pth_9cw_qc_2_humidity"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"0","ifStateType":"num","ifStateOperator":"is_not","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":220,"y":560,"wires":[["cc1143c16e7302a5"],[]]},{"id":"bdc80f1098b14c0a","type":"server-state-changed","z":"e5c9ec26d4488f6c","d":true,"name":"CO2 trigger","server":"789be23e.da092c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.pth_9cw_qc_2_carbon_dioxide"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"0","ifStateType":"num","ifStateOperator":"is_not","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":210,"y":620,"wires":[["772207fc786fb5f3"],[]]},{"id":"789be23e.da092c","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false},{"id":"400bb2e4adcc23a0","type":"global-config","env":[],"modules":{"node-red-contrib-home-assistant-websocket":"0.80.3","node-red-contrib-influxdb":"0.7.0"}}]