Ventilation/Node-RED flows backup/New_sensor_Indoor.json
[{"id":"c9d4d99cd74d35b4","type":"tab","label":"New_sensor_Indoor","disabled":true,"info":"collected since","env":[]},{"id":"09314f52dfc21568","type":"ha-get-entities","z":"c9d4d99cd74d35b4","name":"","server":"789be23e.da092c","version":1,"rules":[{"condition":"state_object","property":"entity_id","logic":"is","value":"sensor.co2_sensor_temperature_local","valueType":"str"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":370,"y":120,"wires":[["d134c513225f0bd2"]]},{"id":"9a4ea2bc058935b9","type":"inject","z":"c9d4d99cd74d35b4","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","v":"true","vt":"bool"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":60,"wires":[["09314f52dfc21568","54ae71a52d8537cf","1b1ea170e1add468"]]},{"id":"d134c513225f0bd2","type":"change","z":"c9d4d99cd74d35b4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Temperature\": $number(payload.state)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":120,"wires":[["e0cf47b71f4a8e1d","e908a94046559bed"]]},{"id":"e0cf47b71f4a8e1d","type":"influxdb out","z":"c9d4d99cd74d35b4","influxdb":"","name":"","measurement":"Air_detector_EWC04","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"AIoT","bucket":"New_sensor_Indoor","x":760,"y":180,"wires":[]},{"id":"e908a94046559bed","type":"debug","z":"c9d4d99cd74d35b4","name":"debug 9","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":240,"wires":[]},{"id":"6990af204134567d","type":"server-state-changed","z":"c9d4d99cd74d35b4","d":true,"name":"Temperature trigger","server":"789be23e.da092c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.co2_sensor_temperature_local"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"0","ifStateType":"num","ifStateOperator":"is_not","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":130,"y":120,"wires":[["09314f52dfc21568"],[]]},{"id":"54ae71a52d8537cf","type":"ha-get-entities","z":"c9d4d99cd74d35b4","name":"","server":"789be23e.da092c","version":1,"rules":[{"condition":"state_object","property":"entity_id","logic":"is","value":"sensor.co2_sensor_humidity_local","valueType":"str"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":370,"y":180,"wires":[["b7f77e64c6d058a5"]]},{"id":"b7f77e64c6d058a5","type":"change","z":"c9d4d99cd74d35b4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Humidity\": $number(payload.state)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":180,"wires":[["e0cf47b71f4a8e1d","e908a94046559bed"]]},{"id":"1b1ea170e1add468","type":"ha-get-entities","z":"c9d4d99cd74d35b4","name":"","server":"789be23e.da092c","version":1,"rules":[{"condition":"state_object","property":"entity_id","logic":"is","value":"sensor.co2_sensor_co2_local","valueType":"str"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":370,"y":240,"wires":[["640ffb302591b01c"]]},{"id":"640ffb302591b01c","type":"change","z":"c9d4d99cd74d35b4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"CO2\": $number(payload.state)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":559.2000122070312,"y":240.19998168945312,"wires":[["e0cf47b71f4a8e1d","e908a94046559bed"]]},{"id":"eaa6e488c373f6f1","type":"server-state-changed","z":"c9d4d99cd74d35b4","d":true,"name":"Humidity trigger","server":"789be23e.da092c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.co2_sensor_humidity_local"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"0","ifStateType":"num","ifStateOperator":"is_not","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":140,"y":180,"wires":[["54ae71a52d8537cf"],[]]},{"id":"1fc75690e92c0684","type":"server-state-changed","z":"c9d4d99cd74d35b4","d":true,"name":"CO2 trigger","server":"789be23e.da092c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.co2_sensor_co2_local"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"0","ifStateType":"num","ifStateOperator":"is_not","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":130,"y":240,"wires":[["1b1ea170e1add468"],[]]},{"id":"bf9852f9fe6f8a77","type":"ha-get-entities","z":"c9d4d99cd74d35b4","name":"","server":"789be23e.da092c","version":1,"rules":[{"condition":"state_object","property":"entity_id","logic":"is","value":"sensor.pth_9cw_qc_temperature","valueType":"str"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":370,"y":460,"wires":[["44be011f86f5a4a0"]]},{"id":"1ef8035d6265ac79","type":"inject","z":"c9d4d99cd74d35b4","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","v":"true","vt":"bool"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":400,"wires":[["bf9852f9fe6f8a77","bdad184201efe604","294b5593d387a00b"]]},{"id":"44be011f86f5a4a0","type":"change","z":"c9d4d99cd74d35b4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Temperature\": $number(payload.state)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":460,"wires":[["5b526048eceb5cf8","770ebdb43ba66371"]]},{"id":"5b526048eceb5cf8","type":"influxdb out","z":"c9d4d99cd74d35b4","influxdb":"","name":"","measurement":"Air_detector_PTH-9CW(QC)","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"AIoT","bucket":"New_sensor_Indoor","x":760,"y":520,"wires":[]},{"id":"770ebdb43ba66371","type":"debug","z":"c9d4d99cd74d35b4","name":"debug 10","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":780,"y":580,"wires":[]},{"id":"6862459a01d1b446","type":"server-state-changed","z":"c9d4d99cd74d35b4","d":true,"name":"Temperature trigger","server":"789be23e.da092c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.pth_9cw_qc_temperature"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"0","ifStateType":"num","ifStateOperator":"is_not","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":130,"y":460,"wires":[["bf9852f9fe6f8a77"],[]]},{"id":"bdad184201efe604","type":"ha-get-entities","z":"c9d4d99cd74d35b4","name":"","server":"789be23e.da092c","version":1,"rules":[{"condition":"state_object","property":"entity_id","logic":"is","value":"sensor.pth_9cw_qc_humidity","valueType":"str"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":370,"y":520,"wires":[["9f83b5fbd13e64ea"]]},{"id":"9f83b5fbd13e64ea","type":"change","z":"c9d4d99cd74d35b4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Humidity\": $number(payload.state)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":520,"wires":[["5b526048eceb5cf8","770ebdb43ba66371"]]},{"id":"294b5593d387a00b","type":"ha-get-entities","z":"c9d4d99cd74d35b4","name":"","server":"789be23e.da092c","version":1,"rules":[{"condition":"state_object","property":"entity_id","logic":"is","value":"sensor.pth_9cw_qc_carbon_dioxide","valueType":"str"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":370,"y":580,"wires":[["c3324991634c09e9"]]},{"id":"c3324991634c09e9","type":"change","z":"c9d4d99cd74d35b4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"CO2\": $number(payload.state)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":559.2000122070312,"y":580.1999816894531,"wires":[["5b526048eceb5cf8","770ebdb43ba66371"]]},{"id":"b181d52a7743f6e5","type":"server-state-changed","z":"c9d4d99cd74d35b4","d":true,"name":"Humidity trigger","server":"789be23e.da092c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.pth_9cw_qc_humidity"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"0","ifStateType":"num","ifStateOperator":"is_not","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":140,"y":520,"wires":[["bdad184201efe604"],[]]},{"id":"41c3b82d9bc36067","type":"server-state-changed","z":"c9d4d99cd74d35b4","d":true,"name":"CO2 trigger","server":"789be23e.da092c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.pth_9cw_qc_carbon_dioxide"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"0","ifStateType":"num","ifStateOperator":"is_not","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":130,"y":580,"wires":[["294b5593d387a00b"],[]]},{"id":"789be23e.da092c","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false},{"id":"9520e2eadc3b3798","type":"global-config","env":[],"modules":{"node-red-contrib-home-assistant-websocket":"0.80.3","node-red-contrib-influxdb":"0.7.0"}}]