Ventilation/Node-RED flows backup/New_CO2_Sensor.json
[{"id":"029b9c59d1d74e14","type":"tab","label":"New CO2 Sensor","disabled":true,"info":"","env":[]},{"id":"dd7a0740849d6567","type":"ha-get-entities","z":"029b9c59d1d74e14","name":"","server":"789be23e.da092c","version":1,"rules":[{"condition":"state_object","property":"entity_id","logic":"is","value":"sensor.pth_9cw_qc_temperature","valueType":"str"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":370,"y":160,"wires":[["ce7b4f3e8c83c8da"]]},{"id":"524dd62b4a46b38e","type":"inject","z":"029b9c59d1d74e14","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","v":"true","vt":"bool"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":100,"wires":[["dd7a0740849d6567","c448427f54f847e5","6fbf24fb5811654e"]]},{"id":"ce7b4f3e8c83c8da","type":"change","z":"029b9c59d1d74e14","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Temperature\": $number(payload.state)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":160,"wires":[["157e1c791f1873fe","2a1c5eb15f54dd73"]]},{"id":"157e1c791f1873fe","type":"influxdb out","z":"029b9c59d1d74e14","influxdb":"","name":"","measurement":"Air_detector_EWC04","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"AIoT","bucket":"New_CO2_Test","x":760,"y":220,"wires":[]},{"id":"2a1c5eb15f54dd73","type":"debug","z":"029b9c59d1d74e14","name":"debug 11","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":280,"wires":[]},{"id":"621bc465064108f3","type":"server-state-changed","z":"029b9c59d1d74e14","d":true,"name":"Temperature trigger","server":"789be23e.da092c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.pth_9cw_qc_temperature"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"0","ifStateType":"num","ifStateOperator":"is_not","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":130,"y":160,"wires":[["dd7a0740849d6567"],[]]},{"id":"c448427f54f847e5","type":"ha-get-entities","z":"029b9c59d1d74e14","name":"","server":"789be23e.da092c","version":1,"rules":[{"condition":"state_object","property":"entity_id","logic":"is","value":"sensor.pth_9cw_qc_humidity","valueType":"str"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":370,"y":220,"wires":[["bc9d6bb29f83b183"]]},{"id":"bc9d6bb29f83b183","type":"change","z":"029b9c59d1d74e14","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Humidity\": $number(payload.state)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":220,"wires":[["157e1c791f1873fe","2a1c5eb15f54dd73"]]},{"id":"6fbf24fb5811654e","type":"ha-get-entities","z":"029b9c59d1d74e14","name":"","server":"789be23e.da092c","version":1,"rules":[{"condition":"state_object","property":"entity_id","logic":"is","value":"sensor.pth_9cw_qc_carbon_dioxide","valueType":"str"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":370,"y":280,"wires":[["d0a134e858127623"]]},{"id":"d0a134e858127623","type":"change","z":"029b9c59d1d74e14","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"CO2\": $number(payload.state)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":559.2000122070312,"y":280.1999816894531,"wires":[["157e1c791f1873fe","2a1c5eb15f54dd73"]]},{"id":"0409b61f6d5b111f","type":"server-state-changed","z":"029b9c59d1d74e14","d":true,"name":"Humidity trigger","server":"789be23e.da092c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.pth_9cw_qc_humidity"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"0","ifStateType":"num","ifStateOperator":"is_not","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":140,"y":220,"wires":[["c448427f54f847e5"],[]]},{"id":"32eb4f07211c5c36","type":"server-state-changed","z":"029b9c59d1d74e14","d":true,"name":"CO2 trigger","server":"789be23e.da092c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.pth_9cw_qc_carbon_dioxide"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"0","ifStateType":"num","ifStateOperator":"is_not","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":130,"y":280,"wires":[["6fbf24fb5811654e"],[]]},{"id":"789be23e.da092c","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false},{"id":"bfbf2e6c3d31aaac","type":"global-config","env":[],"modules":{"node-red-contrib-home-assistant-websocket":"0.80.3","node-red-contrib-influxdb":"0.7.0"}}]