Ventilation/Node-RED flows backup/Temperature_AC_25.json
[{"id":"df7f94c652c69ef1","type":"tab","label":"Temperature_AC_25","disabled":true,"info":"","env":[]},{"id":"1e71088121ed2aef","type":"ha-get-entities","z":"df7f94c652c69ef1","name":"","server":"789be23e.da092c","version":1,"rules":[{"condition":"state_object","property":"entity_id","logic":"is","value":"sensor.temperature_and_humidity_sensor_temperature_local","valueType":"str"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":410,"y":200,"wires":[["7ed99e185c002798"]]},{"id":"cd8f73f7c8a4bcd5","type":"inject","z":"df7f94c652c69ef1","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","v":"true","vt":"bool"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":140,"wires":[["1e71088121ed2aef","0d8932f8da5079f7"]]},{"id":"7ed99e185c002798","type":"change","z":"df7f94c652c69ef1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Temperature\": $number(payload.state)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":200,"wires":[["a75f51f94ba08a0f"]]},{"id":"a75f51f94ba08a0f","type":"influxdb out","z":"df7f94c652c69ef1","influxdb":"","name":"","measurement":"Air","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"AIoT","bucket":"Temperature_AC_25","x":800,"y":260,"wires":[]},{"id":"d6796d423ab8e2bc","type":"server-state-changed","z":"df7f94c652c69ef1","d":true,"name":"Temperature trigger","server":"789be23e.da092c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.temperature_and_humidity_sensor_temperature_local"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"0","ifStateType":"num","ifStateOperator":"is_not","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":170,"y":200,"wires":[["1e71088121ed2aef"],[]]},{"id":"0d8932f8da5079f7","type":"ha-get-entities","z":"df7f94c652c69ef1","name":"","server":"789be23e.da092c","version":1,"rules":[{"condition":"state_object","property":"entity_id","logic":"is","value":"sensor.temperature_and_humidity_sensor_humidity_local","valueType":"str"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":410,"y":260,"wires":[["44179d2d51b88bf3"]]},{"id":"44179d2d51b88bf3","type":"change","z":"df7f94c652c69ef1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Humidity\": $number(payload.state)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":260,"wires":[["a75f51f94ba08a0f"]]},{"id":"e087e2e70b5833c0","type":"server-state-changed","z":"df7f94c652c69ef1","d":true,"name":"Humidity trigger","server":"789be23e.da092c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.temperature_and_humidity_sensor_humidity_local"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"0","ifStateType":"num","ifStateOperator":"is_not","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":180,"y":260,"wires":[["0d8932f8da5079f7"],[]]},{"id":"42b924e098ffbc74","type":"ha-get-entities","z":"df7f94c652c69ef1","name":"","server":"789be23e.da092c","version":1,"rules":[{"condition":"state_object","property":"entity_id","logic":"is","value":"sensor.pth_9cw_qc_temperature","valueType":"str"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":390,"y":400,"wires":[["ee6ef309b344b53f"]]},{"id":"2238afbd0409f317","type":"inject","z":"df7f94c652c69ef1","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","v":"true","vt":"bool"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":340,"wires":[["42b924e098ffbc74","00aec7ddc4bcf8fe"]]},{"id":"ee6ef309b344b53f","type":"change","z":"df7f94c652c69ef1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Temperature\": $number(payload.state)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":400,"wires":[["ab2d81171df27bde"]]},{"id":"ab2d81171df27bde","type":"influxdb out","z":"df7f94c652c69ef1","influxdb":"","name":"","measurement":"Air_detector_EWC04","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"AIoT","bucket":"Temperature_AC_25","x":780,"y":460,"wires":[]},{"id":"b2187d673035d7f1","type":"server-state-changed","z":"df7f94c652c69ef1","d":true,"name":"Temperature trigger","server":"789be23e.da092c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.pth_9cw_qc_temperature"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"0","ifStateType":"num","ifStateOperator":"is_not","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":150,"y":400,"wires":[["42b924e098ffbc74"],[]]},{"id":"00aec7ddc4bcf8fe","type":"ha-get-entities","z":"df7f94c652c69ef1","name":"","server":"789be23e.da092c","version":1,"rules":[{"condition":"state_object","property":"entity_id","logic":"is","value":"sensor.pth_9cw_qc_humidity","valueType":"str"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":390,"y":460,"wires":[["2c04d917e2fe2dd4"]]},{"id":"2c04d917e2fe2dd4","type":"change","z":"df7f94c652c69ef1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Humidity\": $number(payload.state)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":460,"wires":[["ab2d81171df27bde"]]},{"id":"c6e6d636c30a7aae","type":"server-state-changed","z":"df7f94c652c69ef1","d":true,"name":"Humidity trigger","server":"789be23e.da092c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.pth_9cw_qc_humidity"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"0","ifStateType":"num","ifStateOperator":"is_not","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":160,"y":460,"wires":[["00aec7ddc4bcf8fe"],[]]},{"id":"789be23e.da092c","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false},{"id":"2231141c28a517ae","type":"global-config","env":[],"modules":{"node-red-contrib-home-assistant-websocket":"0.80.3","node-red-contrib-influxdb":"0.7.0"}}]