AI-Driven AC/Node-RED flows backup/AI Control (unuse).json
[{"id":"c7ca7ab234aa683c","type":"tab","label":"AI Control (unuse)","disabled":true,"info":"","env":[]},{"id":"d7243a2063573665","type":"function","z":"c7ca7ab234aa683c","name":"parseInt","func":"var kelvin = parseInt(msg.payload);\n\nmsg.payload = kelvin;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2140,"y":920,"wires":[["13138dbe940bd5e7"]]},{"id":"b4823822274c081b","type":"mqtt in","z":"c7ca7ab234aa683c","d":true,"name":"","topic":"a1_local/color_temp_kelvin","qos":"2","datatype":"auto-detect","broker":"","nl":false,"rap":true,"rh":0,"inputs":0,"x":1850,"y":920,"wires":[["d7243a2063573665","04e2c4fb99ef056a"]]},{"id":"d2b6542ad127b667","type":"mqtt in","z":"c7ca7ab234aa683c","d":true,"name":"","topic":"a1_local/brightness","qos":"2","datatype":"auto-detect","broker":"","nl":false,"rap":true,"rh":0,"inputs":0,"x":1870,"y":760,"wires":[["8947629cba9234e6","19ae025a0f94f948"]]},{"id":"8947629cba9234e6","type":"function","z":"c7ca7ab234aa683c","name":"parseInt","func":"var brightness = parseInt(msg.payload);\n\nmsg.payload = brightness;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2140,"y":760,"wires":[["0feec70ecd8ed9d6"]]},{"id":"0feec70ecd8ed9d6","type":"api-call-service","z":"c7ca7ab234aa683c","name":"","server":"789be23e.da092c","version":7,"debugenabled":false,"action":"light.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.a1_local"],"labelId":[],"data":"{\"brightness\": \"{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"light","service":"turn_on","x":2450,"y":760,"wires":[[]]},{"id":"13138dbe940bd5e7","type":"api-call-service","z":"c7ca7ab234aa683c","name":"","server":"789be23e.da092c","version":7,"debugenabled":false,"action":"light.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.a1_local"],"labelId":[],"data":"{\"kelvin\": \"{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"light","service":"turn_on","x":2430,"y":920,"wires":[[]]},{"id":"5d845b816ab8ee34","type":"function","z":"c7ca7ab234aa683c","name":"detect guide mode","func":"// Split CSV data by newline\nlet data = msg.payload.split(\"\\n\").map(value => value.trim());\n\n// Remove empty lines and filter out \"unavailable\"\ndata = data.filter(value => value !== \"\" && value !== \"unavailable\");\n\n// Convert to numbers, ignoring invalid entries\nlet result = data.map(Number).filter(num => !isNaN(num));\n\n// Function to calculate the mode\nfunction findMode(arr) {\n    let frequency = {};\n    let maxFreq = 0;\n\n    // Count frequency of each number\n    arr.forEach(num => {\n        frequency[num] = (frequency[num] || 0) + 1;\n        maxFreq = Math.max(maxFreq, frequency[num]);\n    });\n\n    // Collect all numbers that have the highest frequency\n    let mode = Object.keys(frequency)\n        .filter(num => frequency[num] === maxFreq)\n        .map(Number); // Convert back to numbers\n\n    return mode;\n}\n\n// Find mode(s)\nlet mode = result.length > 0 ? findMode(result) : [];\n\nmsg.topic = \"guide\"\n\nif (mode.length > 1)\n    msg.payload = 1;\nelse\n    msg.payload = mode[0];\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2410,"y":1800,"wires":[["fffcb33db9619d92","beca4b3cc9aca954"]]},{"id":"13ac29f6e0212753","type":"function","z":"c7ca7ab234aa683c","name":"make csv","func":"//month,day,hours,minutes,guide,tree,nire,indoor_temp,indoor_hum,outdoor_temp,outdoor_hum,brightness,color_temp_kelvin,ac_temp,ac_fan_speed\n\nvar brightness = msg.payload.brightness || 0;\nvar color_temp_kelvin = msg.payload.color_temp_kelvin || 0;\nvar ac_temp = msg.payload.ac_temp || 0;\nvar ac_fan_speed = msg.payload.ac_fan_speed || 0;\n\nif (brightness > 0 && color_temp_kelvin > 0 && ac_temp > 0 && ac_fan_speed > 0){\n    var indoor_temp = msg.payload.indoor_temp || 0;\n    var indoor_hum = msg.payload.indoor_hum || 0;\n    var outdoor_temp = msg.payload.outdoor_temp || 0;\n    var outdoor_hum = msg.payload.outdoor_hum || 0;\n    var guide = msg.payload.guide || 0;\n    var tree = msg.payload.tree || 0;\n    var nire = msg.payload.nire || 0;\n    \n    // Get the current date and time\n    var now = new Date();\n    var day = now.getDate();\n    var days_week = now.getDay() + 1;  // 0 = Sunday, 1 = Monday, ..., 6 = Saturday\n    var month = now.getMonth() + 1;  // getMonth() returns 0 for January, so we add 1\n    // var year = now.getFullYear();\n    var hours = now.getHours();\n    var minutes = now.getMinutes();\n    // var seconds = now.getSeconds();\n    \n    var data = month + \",\" + day + \",\" + days_week + \",\" + hours + \",\" + minutes + \",\" + guide + \",\" + tree + \",\" + nire + \",\" + indoor_temp + \",\" + indoor_hum + \",\" + outdoor_temp + \",\" + outdoor_hum + \",\" + brightness + \",\" + color_temp_kelvin + \",\" + ac_temp + \",\" + ac_fan_speed;\n    \n    msg.payload = data;\n    \n    return msg;\n}\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3000,"y":2000,"wires":[["e5de9d53c86969c5"]]},{"id":"b75af38c1336ff08","type":"api-current-state","z":"c7ca7ab234aa683c","name":"","server":"789be23e.da092c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.a1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":2120,"y":2220,"wires":[["89df1d090ee84d4c","ad02a9d1255fce11"]]},{"id":"89df1d090ee84d4c","type":"function","z":"c7ca7ab234aa683c","name":"brightness","func":"msg.topic = \"brightness\"\n\nif (msg.payload == \"unavailable\" ||\n    msg.payload == \"\") {\n    msg.payload = 0;\n} else{\n    var brightness = msg.data.attributes.brightness\n    msg.payload = brightness;\n}\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2430,"y":2220,"wires":[["fffcb33db9619d92"]]},{"id":"fffcb33db9619d92","type":"join","z":"c7ca7ab234aa683c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":true,"accumulate":false,"timeout":"1","count":"11","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":2810,"y":2000,"wires":[["13ac29f6e0212753"]]},{"id":"ad02a9d1255fce11","type":"function","z":"c7ca7ab234aa683c","name":"color_temp_kelvin","func":"msg.topic = \"color_temp_kelvin\"\n\nif (msg.payload == \"unavailable\" ||\n    msg.payload == \"\") {\n    msg.payload = 0;\n} else{\n    var color_temp_kelvin = msg.data.attributes.color_temp_kelvin\n    msg.payload = color_temp_kelvin;\n}\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2410,"y":2280,"wires":[["fffcb33db9619d92"]]},{"id":"74d91b4147797a2f","type":"api-current-state","z":"c7ca7ab234aa683c","name":"","server":"789be23e.da092c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.ac_fan_speed","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":2100,"y":2160,"wires":[["bc064cee0da350ed"]]},{"id":"bc064cee0da350ed","type":"function","z":"c7ca7ab234aa683c","name":"ac_fan_speed","func":"msg.topic = \"ac_fan_speed\"\n\nif (msg.payload == \"unavailable\" ||\n    msg.payload == \"\") {\n    msg.payload = 0;\n}\n\nif (msg.payload == \"Low\"){\n    msg.payload = 1;\n} else if (msg.payload == \"Medium\") {\n    msg.payload = 2;\n} else if (msg.payload == \"High\") {\n    msg.payload = 3;\n} else if (msg.payload == \"VeryHigh\") {\n    msg.payload = 4;\n}\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2420,"y":2160,"wires":[["fffcb33db9619d92"]]},{"id":"e5de9d53c86969c5","type":"file","z":"c7ca7ab234aa683c","name":"","filename":"/media/AI/BehaviorLog.csv","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":3240,"y":2000,"wires":[["d7bafcc68060bdf0","f1a0d65e3aeded4a"]]},{"id":"dc7a606a519027f5","type":"function","z":"c7ca7ab234aa683c","name":"ac_temp","func":"msg.topic = \"ac_temp\"\n\nif (msg.payload == \"unavailable\" ||\n    msg.payload == \"\") {\n    msg.payload = 0;\n}\n\nmsg.payload = parseInt(msg.payload);\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2440,"y":2100,"wires":[["fffcb33db9619d92"]]},{"id":"1ffbaf24f0278768","type":"api-current-state","z":"c7ca7ab234aa683c","name":"","server":"789be23e.da092c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.ac_temp","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":2110,"y":2100,"wires":[["dc7a606a519027f5"]]},{"id":"d7f5f8cd57285ba9","type":"file","z":"c7ca7ab234aa683c","name":"rebuild csv","filename":"/media/AI/BehaviorLog.csv","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":3270,"y":1900,"wires":[["b5cff9964f3d3f93"]]},{"id":"702f2e869711e67d","type":"inject","z":"c7ca7ab234aa683c","name":"delete csv","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":2800,"y":1900,"wires":[["d2a92b9bae9d2638"]]},{"id":"d2a92b9bae9d2638","type":"function","z":"c7ca7ab234aa683c","name":"write column name","func":"msg.payload = \"month,day,days_week,hours,minutes,guide,tree,nire,indoor_temp,indoor_hum,outdoor_temp,outdoor_hum,brightness,color_temp_kelvin,ac_temp,ac_fan_speed\";\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3030,"y":1900,"wires":[["d7f5f8cd57285ba9"]]},{"id":"e78f36dde8a70f08","type":"api-call-service","z":"c7ca7ab234aa683c","name":"","server":"789be23e.da092c","version":7,"debugenabled":false,"action":"input_number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_number.ac_temp"],"labelId":[],"data":"{\"value\": \"{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_number","service":"set_value","x":2390,"y":600,"wires":[[]]},{"id":"ed1c43a41df35450","type":"function","z":"c7ca7ab234aa683c","name":"toSting","func":"var fan_speed = parseInt(msg.payload);\n\nif (fan_speed == 1){\n    msg.payload = \"Low\";\n    return msg;\n} \nelse if (fan_speed == 2) {\n    msg.payload = \"Medium\";\n    return msg;\n} \nelse if (fan_speed == 3) {\n    msg.payload = \"High\";\n    return msg;\n} \nelse if (fan_speed == 4) {\n    msg.payload = \"VeryHigh\";\n    return msg;\n} \n\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2140,"y":460,"wires":[["df3996b65358e81b"]]},{"id":"df3996b65358e81b","type":"api-call-service","z":"c7ca7ab234aa683c","name":"","server":"789be23e.da092c","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_select.ac_fan_speed"],"labelId":[],"data":"{\"option\": \"{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_select","service":"select_option","x":2390,"y":460,"wires":[[]]},{"id":"2ec016c559b3d8d6","type":"mqtt in","z":"c7ca7ab234aa683c","d":true,"name":"","topic":"ac_fan_speed","qos":"2","datatype":"auto-detect","broker":"","nl":false,"rap":true,"rh":0,"inputs":0,"x":1890,"y":460,"wires":[["ed1c43a41df35450","f4e6c6257cfecb9f"]]},{"id":"049f6beec9015260","type":"mqtt in","z":"c7ca7ab234aa683c","d":true,"name":"","topic":"ac_temp","qos":"2","datatype":"auto-detect","broker":"","nl":false,"rap":true,"rh":0,"inputs":0,"x":1900,"y":600,"wires":[["fa2a521ba352998a","c68dfc081faf88f5"]]},{"id":"b5cff9964f3d3f93","type":"debug","z":"c7ca7ab234aa683c","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3550,"y":1900,"wires":[]},{"id":"2b5c6986a9bf2d8f","type":"file in","z":"c7ca7ab234aa683c","name":"","filename":"/media/AI/BehaviorLog.csv","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":3060,"y":1820,"wires":[["18c09d9ca6a4d541"]]},{"id":"80504ed0dfcbb9a0","type":"inject","z":"c7ca7ab234aa683c","name":"read csv","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":2800,"y":1820,"wires":[["2b5c6986a9bf2d8f"]]},{"id":"18c09d9ca6a4d541","type":"debug","z":"c7ca7ab234aa683c","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3270,"y":1820,"wires":[]},{"id":"fa2a521ba352998a","type":"function","z":"c7ca7ab234aa683c","name":"parseInt","func":"var temperature = parseInt(msg.payload);  // แปลงค่าจาก string เป็นจำนวนเต็ม\n\nmsg.payload = temperature;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2140,"y":600,"wires":[["e78f36dde8a70f08"]]},{"id":"b44b8bcdd33d407e","type":"file","z":"c7ca7ab234aa683c","name":"","filename":"/media/AI/sensor_outdoor.csv","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":2270,"y":2680,"wires":[["5a57b993a01f3723","0eda1efaf257ddb6"]]},{"id":"fb2845805cca1790","type":"inject","z":"c7ca7ab234aa683c","d":true,"name":"5 min loop","props":[],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1370,"y":1900,"wires":[["b6a3454b3a0baff7","157b1477dfcc40fe","1ffbaf24f0278768","74d91b4147797a2f","b75af38c1336ff08","1fa6578e404a3a1b","a1466e32e37101b6","7faecc765c6ccb34"]]},{"id":"03abce1854b47d8c","type":"file","z":"c7ca7ab234aa683c","name":"","filename":"/media/AI/sensor_indoor.csv","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":2260,"y":2580,"wires":[["664d4546db5adba5","0c23898e01a447c8"]]},{"id":"1643b2a3137c6e84","type":"function","z":"c7ca7ab234aa683c","name":"indoor avg","func":"var data = msg.payload;\nconst lines = data.trim().split('\\n');\nlet tempSum = 0;\nlet humSum = 0;\nlet count = 0;\n\nlines.forEach(line => {\n  const [temp, hum] = line.split(',').map(Number);\n  tempSum += temp;\n  humSum += hum;\n  count++;\n});\n\nconst avgTemp = tempSum / count;\nconst avgHum = humSum / count;\n\nmsg.payload = {\n  avgTemp: avgTemp.toFixed(1),\n  avgHum: avgHum.toFixed(1)\n}\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2130,"y":1580,"wires":[["c327148d8d58c08e","59a4ac550fef9c4a","adaf527205502d0c"]]},{"id":"b6a3454b3a0baff7","type":"file in","z":"c7ca7ab234aa683c","name":"","filename":"/media/AI/sensor_indoor.csv","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1820,"y":1620,"wires":[["1643b2a3137c6e84"]]},{"id":"157b1477dfcc40fe","type":"file in","z":"c7ca7ab234aa683c","name":"","filename":"/media/AI/sensor_outdoor.csv","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1830,"y":1700,"wires":[["568d1181f370ec3e"]]},{"id":"19ae025a0f94f948","type":"debug","z":"c7ca7ab234aa683c","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2130,"y":800,"wires":[]},{"id":"04e2c4fb99ef056a","type":"debug","z":"c7ca7ab234aa683c","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2130,"y":960,"wires":[]},{"id":"568d1181f370ec3e","type":"function","z":"c7ca7ab234aa683c","name":"outdoor avg","func":"var data = msg.payload;\nconst lines = data.trim().split('\\n');\nlet tempSum = 0;\nlet humSum = 0;\nlet count = 0;\n\nlines.forEach(line => {\n    const [temp, hum] = line.split(',').map(Number);\n    tempSum += temp;\n    humSum += hum;\n    count++;\n});\n\nconst avgTemp = tempSum / count;\nconst avgHum = humSum / count;\n\nmsg.payload = {\n    avgTemp: avgTemp.toFixed(1),\n    avgHum: avgHum.toFixed(1)\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2130,"y":1740,"wires":[["b308e1cf61ef5fc2","79574bc5e88da642","4b27eb9dbb08bf03"]]},{"id":"511038d3bfa2c864","type":"file","z":"c7ca7ab234aa683c","name":"rebuild sensor_temp_avg","filename":"/media/AI/sensor_temp_avg.csv","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":3930,"y":3200,"wires":[["d10f8041b803048f"]]},{"id":"1c778a4fc586908b","type":"inject","z":"c7ca7ab234aa683c","d":true,"name":"delete csv","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":3420,"y":3200,"wires":[["2d2610bca86e1437"]]},{"id":"2d2610bca86e1437","type":"function","z":"c7ca7ab234aa683c","name":"write column name","func":"msg.payload = \"2.7\";\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3650,"y":3200,"wires":[["511038d3bfa2c864"]]},{"id":"393ab4cd33d586b6","type":"file","z":"c7ca7ab234aa683c","name":"rebuild sensor_hum_avg","filename":"/media/AI/sensor_hum_avg.csv","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":3930,"y":3260,"wires":[["d10f8041b803048f"]]},{"id":"641dd041d9428d6b","type":"inject","z":"c7ca7ab234aa683c","d":true,"name":"delete csv","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":3420,"y":3260,"wires":[["450c3801c15805d3"]]},{"id":"450c3801c15805d3","type":"function","z":"c7ca7ab234aa683c","name":"write column name","func":"msg.payload = \"0.6\";\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3650,"y":3260,"wires":[["393ab4cd33d586b6"]]},{"id":"d10f8041b803048f","type":"debug","z":"c7ca7ab234aa683c","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":4190,"y":3260,"wires":[]},{"id":"8d4e8b6bd3a8d4bf","type":"file","z":"c7ca7ab234aa683c","name":"rebuild sensor_temp_avg","filename":"/media/AI/face_detect.csv","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":3930,"y":3320,"wires":[["d10f8041b803048f"]]},{"id":"9328dcf71e2ee7e9","type":"inject","z":"c7ca7ab234aa683c","d":true,"name":"delete csv","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":3420,"y":3320,"wires":[["24768cb624fc1a69"]]},{"id":"24768cb624fc1a69","type":"function","z":"c7ca7ab234aa683c","name":"write column name","func":"msg.payload = \"0\";\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3650,"y":3320,"wires":[["8d4e8b6bd3a8d4bf"]]},{"id":"1fa6578e404a3a1b","type":"file in","z":"c7ca7ab234aa683c","name":"","filename":"/media/AI/detect_guide.csv","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1840,"y":1800,"wires":[["5d845b816ab8ee34"]]},{"id":"f6c30d61dda59e69","type":"function","z":"c7ca7ab234aa683c","name":"find mode (don't delete it valuable)","func":"// Split CSV data by newline\nlet data = msg.payload.split(\"\\n\").map(value => value.trim());\n\n// Remove empty lines and filter out \"unavailable\"\ndata = data.filter(value => value !== \"\" && value !== \"unavailable\");\n\n// Convert to numbers, ignoring invalid entries\nlet result = data.map(Number).filter(num => !isNaN(num));\n\n// Function to calculate the mode\nfunction findMode(arr) {\n    let frequency = {};\n    let maxFreq = 0;\n\n    // Count frequency of each number\n    arr.forEach(num => {\n        frequency[num] = (frequency[num] || 0) + 1;\n        maxFreq = Math.max(maxFreq, frequency[num]);\n    });\n\n    // Collect all numbers that have the highest frequency\n    let mode = Object.keys(frequency)\n        .filter(num => frequency[num] === maxFreq)\n        .map(Number); // Convert back to numbers\n\n    return mode;\n}\n\n// Find mode(s)\nlet mode = result.length > 0 ? findMode(result) : [];\n\n// If there are multiple modes, convert to binary, apply OR logic, and convert back to decimal\nlet finalResult = mode.length > 1 ? mode.map(num => num.toString(2)) // Convert modes to binary\n                                    .reduce((acc, bin) => acc | parseInt(bin, 2), 0) // Apply bitwise OR\n                                    : mode[0]; // If only one mode, return that value\n\n// Convert the result of OR operation back to decimal if it's in binary\nif (typeof finalResult === 'number') {\n    finalResult = parseInt(finalResult.toString(), 10);\n}\n\n// Return the processed result\nmsg.payload = {\n    data: result,    // Filtered numerical data\n    mode: finalResult,      // Most frequent number(s)\n};\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1680,"y":1420,"wires":[[]]},{"id":"2e9ba063de781285","type":"modbus-getter","z":"c7ca7ab234aa683c","d":true,"name":"XY-MD02","showStatusActivities":false,"showErrors":false,"showWarnings":true,"logIOActivities":false,"unitid":"3","dataType":"InputRegister","adr":"1","quantity":"2","server":"","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":true,"startDelayTime":"1","x":1500,"y":2280,"wires":[[],[]]},{"id":"05b3c8bfcc3a75e5","type":"modbus-getter","z":"c7ca7ab234aa683c","d":true,"name":"XY-MD02","showStatusActivities":false,"showErrors":false,"showWarnings":true,"logIOActivities":false,"unitid":"4","dataType":"InputRegister","adr":"1","quantity":"2","server":"","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":true,"startDelayTime":"1","x":1500,"y":2220,"wires":[[],[]]},{"id":"05f76e32ad14d589","type":"file","z":"c7ca7ab234aa683c","name":"","filename":"/media/AI/sensor_indoor.csv","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":2380,"y":1500,"wires":[[]]},{"id":"adaf527205502d0c","type":"function","z":"c7ca7ab234aa683c","name":"remove old data","func":"let avgTemp = msg.payload.avgTemp;\nlet avgHum = msg.payload.avgHum;\n\nmsg.payload = avgTemp + \",\" + avgHum;\n\nreturn msg","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2120,"y":1540,"wires":[["05f76e32ad14d589"]]},{"id":"67c9c0af86dd2aa5","type":"file","z":"c7ca7ab234aa683c","name":"","filename":"/media/AI/sensor_outdoor.csv","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":2370,"y":1660,"wires":[[]]},{"id":"a1466e32e37101b6","type":"file in","z":"c7ca7ab234aa683c","name":"","filename":"/media/AI/detect_tree.csv","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1830,"y":1880,"wires":[["dc6ee7104e6bb251"]]},{"id":"7faecc765c6ccb34","type":"file in","z":"c7ca7ab234aa683c","name":"","filename":"/media/AI/detect_nire.csv","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1830,"y":1960,"wires":[["4e7f7fd7e20e8edc"]]},{"id":"dc6ee7104e6bb251","type":"function","z":"c7ca7ab234aa683c","name":"detect tree mode","func":"// Split CSV data by newline\nlet data = msg.payload.split(\"\\n\").map(value => value.trim());\n\n// Remove empty lines and filter out \"unavailable\"\ndata = data.filter(value => value !== \"\" && value !== \"unavailable\");\n\n// Convert to numbers, ignoring invalid entries\nlet result = data.map(Number).filter(num => !isNaN(num));\n\n// Function to calculate the mode\nfunction findMode(arr) {\n    let frequency = {};\n    let maxFreq = 0;\n\n    // Count frequency of each number\n    arr.forEach(num => {\n        frequency[num] = (frequency[num] || 0) + 1;\n        maxFreq = Math.max(maxFreq, frequency[num]);\n    });\n\n    // Collect all numbers that have the highest frequency\n    let mode = Object.keys(frequency)\n        .filter(num => frequency[num] === maxFreq)\n        .map(Number); // Convert back to numbers\n\n    return mode;\n}\n\n// Find mode(s)\nlet mode = result.length > 0 ? findMode(result) : [];\n\nmsg.topic = \"tree\"\n\nif (mode.length > 1)\n    msg.payload = 1;\nelse\n    msg.payload = mode[0];\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2410,"y":1880,"wires":[["fffcb33db9619d92","1fd78db9bfd1a91a"]]},{"id":"4e7f7fd7e20e8edc","type":"function","z":"c7ca7ab234aa683c","name":"detect nire mode","func":"// Split CSV data by newline\nlet data = msg.payload.split(\"\\n\").map(value => value.trim());\n\n// Remove empty lines and filter out \"unavailable\"\ndata = data.filter(value => value !== \"\" && value !== \"unavailable\");\n\n// Convert to numbers, ignoring invalid entries\nlet result = data.map(Number).filter(num => !isNaN(num));\n\n// Function to calculate the mode\nfunction findMode(arr) {\n    let frequency = {};\n    let maxFreq = 0;\n\n    // Count frequency of each number\n    arr.forEach(num => {\n        frequency[num] = (frequency[num] || 0) + 1;\n        maxFreq = Math.max(maxFreq, frequency[num]);\n    });\n\n    // Collect all numbers that have the highest frequency\n    let mode = Object.keys(frequency)\n        .filter(num => frequency[num] === maxFreq)\n        .map(Number); // Convert back to numbers\n\n    return mode;\n}\n\n// Find mode(s)\nlet mode = result.length > 0 ? findMode(result) : [];\n\nmsg.topic = \"nire\"\n\nif (mode.length > 1)\n    msg.payload = 1;\nelse\n    msg.payload = mode[0];\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2410,"y":1960,"wires":[["fffcb33db9619d92","e299bafda39eb292"]]},{"id":"7f3de8ac3e25ab44","type":"function","z":"c7ca7ab234aa683c","name":"find mode (don't delete it valuable)","func":"// Split CSV data by newline\nlet data = msg.payload.split(\"\\n\").map(value => value.trim());\n\n// Remove empty lines and filter out \"unavailable\"\ndata = data.filter(value => value !== \"\" && value !== \"unavailable\");\n\n// Convert to numbers, ignoring invalid entries\nlet result = data.map(Number).filter(num => !isNaN(num));\n\n// Function to calculate the mode\nfunction findMode(arr) {\n    let frequency = {};\n    let maxFreq = 0;\n\n    // Count frequency of each number\n    arr.forEach(num => {\n        frequency[num] = (frequency[num] || 0) + 1;\n        maxFreq = Math.max(maxFreq, frequency[num]);\n    });\n\n    // Collect all numbers that have the highest frequency\n    let mode = Object.keys(frequency)\n        .filter(num => frequency[num] === maxFreq)\n        .map(Number); // Convert back to numbers\n\n    return mode;\n}\n\n// Find mode(s)\nlet mode = result.length > 0 ? findMode(result) : [];\n\n// If there are multiple modes, convert to binary, apply OR logic, and convert back to decimal\nlet finalResult = mode.length > 1 ? mode.map(num => num.toString(2)) // Convert modes to binary\n                                    .reduce((acc, bin) => acc | parseInt(bin, 2), 0) // Apply bitwise OR\n                                    : mode[0]; // If only one mode, return that value\n\n// Convert the result of OR operation back to decimal if it's in binary\nif (typeof finalResult === 'number') {\n    finalResult = parseInt(finalResult.toString(), 10);\n}\n\n// Return the processed result\nmsg.payload = {\n    data: result,    // Filtered numerical data\n    mode: finalResult,      // Most frequent number(s)\n};\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1980,"y":1380,"wires":[[]]},{"id":"59a4ac550fef9c4a","type":"function","z":"c7ca7ab234aa683c","name":"indoor temp","func":"var data = msg.payload.avgTemp;\n\nmsg.topic = \"indoor_temp\"\nmsg.payload = data;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2430,"y":1540,"wires":[["fffcb33db9619d92"]]},{"id":"c327148d8d58c08e","type":"function","z":"c7ca7ab234aa683c","name":"indoor_hum","func":"var data = msg.payload.avgHum;\n\nmsg.topic = \"indoor_hum\"\nmsg.payload = data;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2430,"y":1580,"wires":[["fffcb33db9619d92"]]},{"id":"79574bc5e88da642","type":"function","z":"c7ca7ab234aa683c","name":"outdoor temp","func":"var data = msg.payload.avgTemp;\n\nmsg.topic = \"outdoor_temp\"\nmsg.payload = data;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2430,"y":1700,"wires":[["fffcb33db9619d92"]]},{"id":"b308e1cf61ef5fc2","type":"function","z":"c7ca7ab234aa683c","name":"outdoor hum","func":"var data = msg.payload.avgHum;\n\nmsg.topic = \"outdoor_hum\"\nmsg.payload = data;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2430,"y":1740,"wires":[["fffcb33db9619d92"]]},{"id":"1fd78db9bfd1a91a","type":"file","z":"c7ca7ab234aa683c","name":"","filename":"/media/AI/detect_tree.csv","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":2390,"y":1920,"wires":[[]]},{"id":"e299bafda39eb292","type":"file","z":"c7ca7ab234aa683c","name":"","filename":"/media/AI/detect_nire.csv","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":2390,"y":2000,"wires":[[]]},{"id":"beca4b3cc9aca954","type":"file","z":"c7ca7ab234aa683c","name":"","filename":"/media/AI/detect_guide.csv","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":2380,"y":1840,"wires":[[]]},{"id":"70d46fcb0fc4e31c","type":"function","z":"c7ca7ab234aa683c","name":"function 5","func":"let data = msg.payload.trim().split('\\n'); // Split CSV into lines\nlet length = data.length - 1;\n\nif (length > 1008)\n    length = 1008;\n\nmsg.payload = parseInt(100 * length / 1008);\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3360,"y":2060,"wires":[["284e10a8f17bb3c5"]]},{"id":"d7bafcc68060bdf0","type":"file in","z":"c7ca7ab234aa683c","name":"","filename":"/media/AI/BehaviorLog.csv","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":3120,"y":2060,"wires":[["70d46fcb0fc4e31c"]]},{"id":"68218665ea14c2ef","type":"function","z":"c7ca7ab234aa683c","name":"remove old data","func":"let data = msg.payload.trim().split('\\n'); // Split CSV into lines\n\nif (data.length > 120) {\n    msg.payload = 0;\n    return msg;\n}\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2840,"y":2580,"wires":[["6f258c13cbfc391c"]]},{"id":"6f258c13cbfc391c","type":"file","z":"c7ca7ab234aa683c","name":"","filename":"/media/AI/sensor_indoor.csv","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":3120,"y":2580,"wires":[[]]},{"id":"6072e0274bdba6b0","type":"file","z":"c7ca7ab234aa683c","name":"","filename":"/media/AI/sensor_outdoor.csv","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":3130,"y":2680,"wires":[[]]},{"id":"664d4546db5adba5","type":"file in","z":"c7ca7ab234aa683c","name":"","filename":"/media/AI/sensor_indoor.csv","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":2580,"y":2580,"wires":[["68218665ea14c2ef"]]},{"id":"4285a2d9a59e73f0","type":"function","z":"c7ca7ab234aa683c","name":"remove old data","func":"let data = msg.payload.trim().split('\\n'); // Split CSV into lines\n\nif (data.length > 120) {\n    msg.payload = 0;\n    return msg;\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2840,"y":2680,"wires":[["6072e0274bdba6b0"]]},{"id":"5a57b993a01f3723","type":"file in","z":"c7ca7ab234aa683c","name":"","filename":"/media/AI/sensor_outdoor.csv","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":2590,"y":2680,"wires":[["4285a2d9a59e73f0"]]},{"id":"0c23898e01a447c8","type":"debug","z":"c7ca7ab234aa683c","name":"debug 20","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2520,"y":2520,"wires":[]},{"id":"0eda1efaf257ddb6","type":"debug","z":"c7ca7ab234aa683c","name":"debug 21","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2520,"y":2640,"wires":[]},{"id":"0a42242d86c72184","type":"api-call-service","z":"c7ca7ab234aa683c","name":"","server":"789be23e.da092c","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_select.ac_fan_speed"],"labelId":[],"data":"{\"option\": \"{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_select","service":"select_option","x":4670,"y":1440,"wires":[["60b904120b3cd339"]]},{"id":"451ee1db7cf8d556","type":"api-call-service","z":"c7ca7ab234aa683c","name":"","server":"789be23e.da092c","version":7,"debugenabled":false,"action":"input_number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_number.ac_temp"],"labelId":[],"data":"{\"value\": \"{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_number","service":"set_value","x":4670,"y":1380,"wires":[["221cb4e476cf4feb"]]},{"id":"4f24d41c887cdd9a","type":"api-call-service","z":"c7ca7ab234aa683c","name":"","server":"789be23e.da092c","version":7,"debugenabled":false,"action":"light.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.a1"],"labelId":[],"data":"{\"brightness\": \"{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"light","service":"turn_on","x":4620,"y":1500,"wires":[["3ad1bcd8e4fa0c01"]]},{"id":"6121fcf89965c037","type":"api-call-service","z":"c7ca7ab234aa683c","name":"","server":"789be23e.da092c","version":7,"debugenabled":false,"action":"light.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.a1"],"labelId":[],"data":"{\"kelvin\": \"{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"light","service":"turn_on","x":4620,"y":1560,"wires":[["41e694d8140182dd"]]},{"id":"321f45763ea11a30","type":"function","z":"c7ca7ab234aa683c","name":"kelvin","func":"\nmsg.payload = parseInt(6500);\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3870,"y":1520,"wires":[["6121fcf89965c037"]]},{"id":"6d40e8fd08ed8bfd","type":"function","z":"c7ca7ab234aa683c","name":"brightness","func":"\nmsg.payload = parseInt(255);\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3890,"y":1460,"wires":[["4f24d41c887cdd9a"]]},{"id":"c0cb010931b97f10","type":"function","z":"c7ca7ab234aa683c","name":"fan speed","func":"let indoor_temp = msg.payload || 25\n\nmsg.payload = \"High\";\n\nif (indoor_temp > 25)\n    msg.payload = \"VeryHigh\";\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4240,"y":1440,"wires":[["0a42242d86c72184"]]},{"id":"c9a5ecf876f0dfec","type":"function","z":"c7ca7ab234aa683c","name":"temperature","func":"msg.payload = 25;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4250,"y":1360,"wires":[["451ee1db7cf8d556"]]},{"id":"63bd1198327c1211","type":"inject","z":"c7ca7ab234aa683c","d":true,"name":"tree","props":[],"repeat":"","crontab":"*/5 13-15 * * *","once":false,"onceDelay":0.1,"topic":"","x":3630,"y":1420,"wires":[["6d40e8fd08ed8bfd","321f45763ea11a30","e069dd495d7744f1"]]},{"id":"9620a8b4b5a877b8","type":"function","z":"c7ca7ab234aa683c","name":"kelvin","func":"\nmsg.payload = parseInt(5000);\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3870,"y":1240,"wires":[["6121fcf89965c037"]]},{"id":"89865c25b54b2952","type":"function","z":"c7ca7ab234aa683c","name":"brightness","func":"\nmsg.payload = parseInt(255);\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3890,"y":1180,"wires":[["4f24d41c887cdd9a"]]},{"id":"653e6bd6e4d474fb","type":"function","z":"c7ca7ab234aa683c","name":"fan speed","func":"let indoor_temp = msg.payload || 27\n\nmsg.payload = \"High\";\n\nif (indoor_temp > 27)\n    msg.payload = \"VeryHigh\";\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4260,"y":1160,"wires":[["0a42242d86c72184"]]},{"id":"733ed99edfc95162","type":"function","z":"c7ca7ab234aa683c","name":"temperature","func":"msg.payload = 27;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4270,"y":1080,"wires":[["451ee1db7cf8d556"]]},{"id":"1201806920255671","type":"inject","z":"c7ca7ab234aa683c","d":true,"name":"guide","props":[],"repeat":"","crontab":"*/5 10-12 * * *","once":false,"onceDelay":0.1,"topic":"","x":3630,"y":1160,"wires":[["89865c25b54b2952","9620a8b4b5a877b8","9205197ebcffd6ea"]]},{"id":"5e84ba68148a96ee","type":"function","z":"c7ca7ab234aa683c","name":"kelvin","func":"\nmsg.payload = parseInt(2000);\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3870,"y":1780,"wires":[["6121fcf89965c037"]]},{"id":"7b0607b16269e687","type":"function","z":"c7ca7ab234aa683c","name":"brightness","func":"\nmsg.payload = parseInt(128);\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3890,"y":1720,"wires":[["4f24d41c887cdd9a"]]},{"id":"e40dbd9ccea20522","type":"function","z":"c7ca7ab234aa683c","name":"fan speed","func":"let indoor_temp = msg.payload || 26\n\nmsg.payload = \"High\";\n\nif (indoor_temp > 26 )\n    msg.payload = \"VeryHigh\";\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4240,"y":1700,"wires":[["0a42242d86c72184"]]},{"id":"39c99937b7e9cedd","type":"function","z":"c7ca7ab234aa683c","name":"temperature","func":"msg.payload = 26;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4250,"y":1620,"wires":[["451ee1db7cf8d556"]]},{"id":"6b1a74d8b1432547","type":"inject","z":"c7ca7ab234aa683c","d":true,"name":"nire","props":[],"repeat":"","crontab":"*/5 16-20 * * *","once":false,"onceDelay":0.1,"topic":"","x":3630,"y":1680,"wires":[["046d24fd8018771a","7b0607b16269e687","5e84ba68148a96ee"]]},{"id":"15250ac566432777","type":"mqtt in","z":"c7ca7ab234aa683c","d":true,"name":"","topic":"sensor/xy_md02/indoor_temp","qos":"2","datatype":"auto-detect","broker":"","nl":false,"rap":true,"rh":0,"inputs":0,"x":1640,"y":2540,"wires":[["54c55121c0619c84"]]},{"id":"0082e0990849a307","type":"mqtt in","z":"c7ca7ab234aa683c","d":true,"name":"","topic":"sensor/xy_md02/indoor_hum","qos":"2","datatype":"auto-detect","broker":"","nl":false,"rap":true,"rh":0,"inputs":0,"x":1640,"y":2600,"wires":[["54c55121c0619c84"]]},{"id":"2cc9298ba235e4b2","type":"mqtt in","z":"c7ca7ab234aa683c","d":true,"name":"","topic":"sensor/xy_md02/outdoor_temp","qos":"2","datatype":"auto-detect","broker":"","nl":false,"rap":true,"rh":0,"inputs":0,"x":1650,"y":2660,"wires":[["0dcfa0c21bc2cf55"]]},{"id":"234a77b401d0b446","type":"mqtt in","z":"c7ca7ab234aa683c","d":true,"name":"","topic":"sensor/xy_md02/outdoor_hum","qos":"2","datatype":"auto-detect","broker":"","nl":false,"rap":true,"rh":0,"inputs":0,"x":1640,"y":2720,"wires":[["0dcfa0c21bc2cf55"]]},{"id":"54c55121c0619c84","type":"join","z":"c7ca7ab234aa683c","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"0.5","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1890,"y":2580,"wires":[["14cb9501218471d0"]]},{"id":"14cb9501218471d0","type":"function","z":"c7ca7ab234aa683c","name":"make csv","func":"let parts = msg.payload //msg.payload.split(\",\");\nvar temp = parseFloat(parts[0]) || 0;\nvar hum = parseFloat(parts[1]) || 0;\n\nmsg.payload = temp + \",\" + hum;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2040,"y":2580,"wires":[["03abce1854b47d8c"]]},{"id":"b24f786a7f2af55a","type":"function","z":"c7ca7ab234aa683c","name":"make csv","func":"let parts = msg.payload //msg.payload.split(\",\");\nvar temp = parseFloat(parts[0]) || 0;\nvar hum = parseFloat(parts[1]) || 0;\n\nmsg.payload = temp + \",\" + hum;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2040,"y":2680,"wires":[["b44b8bcdd33d407e"]]},{"id":"0dcfa0c21bc2cf55","type":"join","z":"c7ca7ab234aa683c","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"0.5","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1890,"y":2680,"wires":[["b24f786a7f2af55a"]]},{"id":"7fca8d81aa119d77","type":"mqtt in","z":"c7ca7ab234aa683c","d":true,"name":"","topic":"sensor/face_detected/guide","qos":"2","datatype":"auto-detect","broker":"","nl":false,"rap":true,"rh":0,"inputs":0,"x":1300,"y":2840,"wires":[["033bcc48f655a85a"]]},{"id":"cd2054888fb992b6","type":"mqtt in","z":"c7ca7ab234aa683c","d":true,"name":"","topic":"sensor/face_detected/tree","qos":"2","datatype":"auto-detect","broker":"","nl":false,"rap":true,"rh":0,"inputs":0,"x":1310,"y":2920,"wires":[["952af1a9e36dfc5b"]]},{"id":"608254abc56d45f5","type":"mqtt in","z":"c7ca7ab234aa683c","d":true,"name":"","topic":"sensor/face_detected/nire","qos":"2","datatype":"auto-detect","broker":"","nl":false,"rap":true,"rh":0,"inputs":0,"x":1310,"y":3000,"wires":[["1cf6cf229f856f26"]]},{"id":"d1874b94f4a4dc32","type":"inject","z":"c7ca7ab234aa683c","d":true,"name":"test","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":1370,"y":2880,"wires":[["e9a55b73b907ef91"]]},{"id":"6f6ce91b6568f7be","type":"inject","z":"c7ca7ab234aa683c","d":true,"name":"test","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":1370,"y":2960,"wires":[["d8d78c7214dbe645"]]},{"id":"8a6a2c333839859f","type":"inject","z":"c7ca7ab234aa683c","d":true,"name":"test","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":1370,"y":3040,"wires":[["27d4bbefeea1b7fe"]]},{"id":"e9a55b73b907ef91","type":"function","z":"c7ca7ab234aa683c","name":"make topic","func":"var now = new Date();\nvar hours = now.getHours();\n\nif (hours < 21 && hours >= 9){\n    msg.topic = \"guide\";\n    msg.payload = msg.payload;\n\n    return msg;\n}\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1530,"y":2880,"wires":[["ef2728acb05ff605"]]},{"id":"d8d78c7214dbe645","type":"function","z":"c7ca7ab234aa683c","name":"make topic","func":"var now = new Date();\nvar hours = now.getHours();\n\nif (hours < 21 && hours >= 13){\n    msg.topic = \"tree\";\n    msg.payload = msg.payload;\n\n    return msg;\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1530,"y":2960,"wires":[["ef2728acb05ff605"]]},{"id":"27d4bbefeea1b7fe","type":"function","z":"c7ca7ab234aa683c","name":"make topic","func":"var now = new Date();\nvar hours = now.getHours();\n\nif (hours < 21 && hours >= 16) {\n    msg.topic = \"nire\";\n    msg.payload = msg.payload;\n\n    return msg;\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1530,"y":3040,"wires":[["ef2728acb05ff605"]]},{"id":"033bcc48f655a85a","type":"function","z":"c7ca7ab234aa683c","name":"make topic","func":"msg.topic = \"guide\";\nmsg.payload = msg.payload;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1530,"y":2840,"wires":[["ef2728acb05ff605"]]},{"id":"952af1a9e36dfc5b","type":"function","z":"c7ca7ab234aa683c","name":"make topic","func":"msg.topic = \"tree\";\nmsg.payload = msg.payload;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1530,"y":2920,"wires":[["ef2728acb05ff605"]]},{"id":"1cf6cf229f856f26","type":"function","z":"c7ca7ab234aa683c","name":"make topic","func":"msg.topic = \"nire\";\nmsg.payload = msg.payload;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1530,"y":3000,"wires":[["ef2728acb05ff605"]]},{"id":"284e10a8f17bb3c5","type":"mqtt out","z":"c7ca7ab234aa683c","name":"","topic":"sensor/training_data_count","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"","x":3600,"y":2060,"wires":[]},{"id":"e069dd495d7744f1","type":"api-current-state","z":"c7ca7ab234aa683c","name":"","server":"789be23e.da092c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.indoor_temperature","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":3980,"y":1400,"wires":[["c0cb010931b97f10","c9a5ecf876f0dfec"]]},{"id":"221cb4e476cf4feb","type":"debug","z":"c7ca7ab234aa683c","name":"debug 35","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":4880,"y":1380,"wires":[]},{"id":"60b904120b3cd339","type":"debug","z":"c7ca7ab234aa683c","name":"debug 36","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":4880,"y":1440,"wires":[]},{"id":"3ad1bcd8e4fa0c01","type":"debug","z":"c7ca7ab234aa683c","name":"debug 37","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":4880,"y":1500,"wires":[]},{"id":"41e694d8140182dd","type":"debug","z":"c7ca7ab234aa683c","name":"debug 38","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":4880,"y":1560,"wires":[]},{"id":"9205197ebcffd6ea","type":"api-current-state","z":"c7ca7ab234aa683c","name":"","server":"789be23e.da092c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.indoor_temperature","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":3980,"y":1120,"wires":[["653e6bd6e4d474fb","733ed99edfc95162"]]},{"id":"046d24fd8018771a","type":"api-current-state","z":"c7ca7ab234aa683c","name":"","server":"789be23e.da092c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.indoor_temperature","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":3980,"y":1660,"wires":[["e40dbd9ccea20522","39c99937b7e9cedd"]]},{"id":"47cbd3c3d376d68e","type":"inject","z":"c7ca7ab234aa683c","d":true,"name":"disable","props":[],"repeat":"","crontab":"00 21 * * *","once":false,"onceDelay":0.1,"topic":"","x":4220,"y":1920,"wires":[["80270db1aa31e048","97c14166c4b966e7"]]},{"id":"80270db1aa31e048","type":"api-call-service","z":"c7ca7ab234aa683c","name":"","server":"789be23e.da092c","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.a1"],"labelId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"light","service":"turn_off","x":4490,"y":1940,"wires":[[]]},{"id":"97c14166c4b966e7","type":"api-call-service","z":"c7ca7ab234aa683c","name":"","server":"789be23e.da092c","version":7,"debugenabled":false,"action":"input_boolean.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.idea_lab_ac_switch"],"labelId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_boolean","service":"turn_off","x":4520,"y":1860,"wires":[[]]},{"id":"4b27eb9dbb08bf03","type":"function","z":"c7ca7ab234aa683c","name":"remove old data","func":"let avgTemp = msg.payload.avgTemp;\nlet avgHum = msg.payload.avgHum;\n\nmsg.payload = avgTemp + \",\" + avgHum;\n\nreturn msg","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2140,"y":1700,"wires":[["67c9c0af86dd2aa5"]]},{"id":"61dea3afa06d8e04","type":"mqtt in","z":"c7ca7ab234aa683c","d":true,"name":"","topic":"ai/reset_face_recognition","qos":"2","datatype":"auto-detect","broker":"","nl":false,"rap":true,"rh":0,"inputs":0,"x":3310,"y":1060,"wires":[[]]},{"id":"3308fee0d52b3f6e","type":"mqtt in","z":"c7ca7ab234aa683c","d":true,"name":"","topic":"ai/reset_behavior","qos":"2","datatype":"auto-detect","broker":"","nl":false,"rap":true,"rh":0,"inputs":0,"x":3280,"y":1120,"wires":[[]]},{"id":"0f024656914dc595","type":"server-state-changed","z":"c7ca7ab234aa683c","d":true,"name":"","server":"789be23e.da092c","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_button.reset_behavior"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":3140,"y":740,"wires":[["24947dfa157d883a"]]},{"id":"24947dfa157d883a","type":"debug","z":"c7ca7ab234aa683c","name":"debug 19","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":3500,"y":740,"wires":[]},{"id":"de88ff35c9d66ea7","type":"api-call-service","z":"c7ca7ab234aa683c","name":"","server":"789be23e.da092c","version":7,"debugenabled":false,"action":"input_boolean.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.idea_lab_ac_switch"],"labelId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_boolean","service":"turn_on","x":4520,"y":2060,"wires":[[]]},{"id":"4947cb2270327372","type":"inject","z":"c7ca7ab234aa683c","d":true,"name":"disable","props":[],"repeat":"","crontab":"0 10-19 * * *","once":false,"onceDelay":0.1,"topic":"","x":4220,"y":2060,"wires":[["de88ff35c9d66ea7"]]},{"id":"f1a0d65e3aeded4a","type":"debug","z":"c7ca7ab234aa683c","name":"debug 22","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3500,"y":2000,"wires":[]},{"id":"f4e6c6257cfecb9f","type":"debug","z":"c7ca7ab234aa683c","name":"debug 28","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2140,"y":420,"wires":[]},{"id":"c68dfc081faf88f5","type":"debug","z":"c7ca7ab234aa683c","name":"debug 29","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2140,"y":560,"wires":[]},{"id":"13d52a999435e5cc","type":"file","z":"c7ca7ab234aa683c","name":"","filename":"/media/AI/detect_guide.csv","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":2260,"y":2880,"wires":[["94e54b88ccd1d278"]]},{"id":"b4f5d8c267933a64","type":"file","z":"c7ca7ab234aa683c","name":"","filename":"/media/AI/detect_tree.csv","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":2250,"y":2960,"wires":[["62924efd42683aa0"]]},{"id":"eff40eb5ce6543ad","type":"file","z":"c7ca7ab234aa683c","name":"","filename":"/media/AI/detect_nire.csv","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":2250,"y":3040,"wires":[["78b7f062af1acf98"]]},{"id":"94e54b88ccd1d278","type":"file in","z":"c7ca7ab234aa683c","name":"","filename":"/media/AI/detect_guide.csv","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":2560,"y":2880,"wires":[["48c03d9fc5627bdb"]]},{"id":"48c03d9fc5627bdb","type":"function","z":"c7ca7ab234aa683c","name":"remove old data","func":"let data = msg.payload.trim().split('\\n'); // Split CSV into lines\n\nif (data.length > 120) {\n    msg.payload = 0;\n    return msg;\n}\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2840,"y":2880,"wires":[["19247bc3f9f351c5"]]},{"id":"19247bc3f9f351c5","type":"file","z":"c7ca7ab234aa683c","name":"","filename":"/media/AI/detect_guide.csv","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":3140,"y":2880,"wires":[[]]},{"id":"ef2728acb05ff605","type":"join","z":"c7ca7ab234aa683c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"1","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1850,"y":2960,"wires":[["28d392603108c6b6","5ee5d25ebf512da1","d42687e24d16900b"]]},{"id":"28d392603108c6b6","type":"function","z":"c7ca7ab234aa683c","name":"guide","func":"if (msg.payload.guide == 1)\n    msg.payload = 1;\nelse\n    msg.payload = 0;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2010,"y":2880,"wires":[["13d52a999435e5cc"]]},{"id":"5ee5d25ebf512da1","type":"function","z":"c7ca7ab234aa683c","name":"tree","func":"if (msg.payload.tree == 1)\n    msg.payload = 1;\nelse\n    msg.payload = 0;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2010,"y":2960,"wires":[["b4f5d8c267933a64"]]},{"id":"d42687e24d16900b","type":"function","z":"c7ca7ab234aa683c","name":"nire","func":"if (msg.payload.nire == 1)\n    msg.payload = 1;\nelse\n    msg.payload = 0;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2010,"y":3040,"wires":[["eff40eb5ce6543ad"]]},{"id":"62924efd42683aa0","type":"file in","z":"c7ca7ab234aa683c","name":"","filename":"/media/AI/detect_tree.csv","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":2550,"y":2960,"wires":[["f1494f1d9eff66de"]]},{"id":"f1494f1d9eff66de","type":"function","z":"c7ca7ab234aa683c","name":"remove old data","func":"let data = msg.payload.trim().split('\\n'); // Split CSV into lines\n\nif (data.length > 120) {\n    msg.payload = 0;\n    return msg;\n}\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2800,"y":2960,"wires":[["2e170a484fdd1ca9"]]},{"id":"2e170a484fdd1ca9","type":"file","z":"c7ca7ab234aa683c","name":"","filename":"/media/AI/detect_tree.csv","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":3050,"y":2960,"wires":[[]]},{"id":"55b6673b311c0dd0","type":"function","z":"c7ca7ab234aa683c","name":"remove old data","func":"let data = msg.payload.trim().split('\\n'); // Split CSV into lines\n\nif (data.length > 120) {\n    msg.payload = 0;\n    return msg;\n}\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2800,"y":3040,"wires":[["e524fd7345ae36c6"]]},{"id":"e524fd7345ae36c6","type":"file","z":"c7ca7ab234aa683c","name":"","filename":"/media/AI/detect_nire.csv","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":3050,"y":3040,"wires":[[]]},{"id":"78b7f062af1acf98","type":"file in","z":"c7ca7ab234aa683c","name":"","filename":"/media/AI/detect_nire.csv","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":2550,"y":3040,"wires":[["55b6673b311c0dd0"]]},{"id":"789be23e.da092c","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false},{"id":"bf7aab7ec333b42c","type":"global-config","env":[],"modules":{"node-red-contrib-home-assistant-websocket":"0.80.3","node-red-contrib-modbus":"5.45.2"}}]