AI-Driven AC/Node-RED flows backup/AIoT Workstation.json
[{"id":"15b4eb0101535c59","type":"tab","label":"AIoT Workstation","disabled":true,"info":"","env":[]},{"id":"9ffaf17ed84d1424","type":"mqtt in","z":"15b4eb0101535c59","d":true,"name":"","topic":"sensor/face_detected/Arm","qos":"2","datatype":"auto-detect","broker":"b6c75b8525b841ad","nl":false,"rap":true,"rh":0,"inputs":0,"x":570,"y":480,"wires":[["1aa513c977402320","86d96a41e65d5987"]]},{"id":"dd20fb55d7763033","type":"mqtt in","z":"15b4eb0101535c59","d":true,"name":"","topic":"sensor/face_detected/Jakk","qos":"2","datatype":"auto-detect","broker":"b6c75b8525b841ad","nl":false,"rap":true,"rh":0,"inputs":0,"x":570,"y":620,"wires":[["41fa650e35aa29dd","ef6fc41c8a2be8b4"]]},{"id":"9a85329265d5ec87","type":"api-current-state","z":"15b4eb0101535c59","name":"","server":"789be23e.da092c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.guide_fan_speed","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1010,"y":340,"wires":[["9e8f6134764e2d3f"]]},{"id":"1aa513c977402320","type":"api-current-state","z":"15b4eb0101535c59","name":"","server":"789be23e.da092c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.tree_fan_speed","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1010,"y":480,"wires":[["9e8f6134764e2d3f"]]},{"id":"41fa650e35aa29dd","type":"api-current-state","z":"15b4eb0101535c59","name":"","server":"789be23e.da092c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.nire_fan_speed","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1010,"y":620,"wires":[["9e8f6134764e2d3f"]]},{"id":"4f1377aa8ca8bc52","type":"api-call-service","z":"15b4eb0101535c59","name":"","server":"789be23e.da092c","version":7,"debugenabled":false,"action":"input_number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_number.ac_temp"],"labelId":[],"data":"{\"value\": \"{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_number","service":"set_value","x":1670,"y":420,"wires":[["2353f6f658d80e07"]]},{"id":"ec91258ddf6be76f","type":"api-call-service","z":"15b4eb0101535c59","name":"","server":"789be23e.da092c","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_select.ac_fan_speed"],"labelId":[],"data":"{\"option\": \"{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_select","service":"select_option","x":1670,"y":480,"wires":[["bd5682e8b2235c77"]]},{"id":"4653df2f499f2ced","type":"inject","z":"15b4eb0101535c59","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":580,"y":560,"wires":[["41fa650e35aa29dd","ef6fc41c8a2be8b4"]]},{"id":"82a71409ea771139","type":"api-current-state","z":"15b4eb0101535c59","name":"","server":"789be23e.da092c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.guide_temp","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1020,"y":280,"wires":[["daabcf04f7841ebe"]]},{"id":"86d96a41e65d5987","type":"api-current-state","z":"15b4eb0101535c59","name":"","server":"789be23e.da092c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.tree_temp","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1030,"y":420,"wires":[["daabcf04f7841ebe"]]},{"id":"ef6fc41c8a2be8b4","type":"api-current-state","z":"15b4eb0101535c59","name":"","server":"789be23e.da092c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.nire_temp","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1030,"y":560,"wires":[["daabcf04f7841ebe"]]},{"id":"8031421aab96aa79","type":"inject","z":"15b4eb0101535c59","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":580,"y":420,"wires":[["86d96a41e65d5987","1aa513c977402320"]]},{"id":"61150ea256ce24cf","type":"inject","z":"15b4eb0101535c59","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":580,"y":280,"wires":[["82a71409ea771139","9a85329265d5ec87"]]},{"id":"2353f6f658d80e07","type":"debug","z":"15b4eb0101535c59","name":"debug 34","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1900,"y":420,"wires":[]},{"id":"bd5682e8b2235c77","type":"debug","z":"15b4eb0101535c59","name":"debug 39","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1900,"y":480,"wires":[]},{"id":"074cbf4a1e082677","type":"server-state-changed","z":"15b4eb0101535c59","d":true,"name":"","server":"789be23e.da092c","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.double_take_tree"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"string","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":682.2221908569336,"y":2854.444347381592,"wires":[["8435219b6890fa34"]]},{"id":"8435219b6890fa34","type":"debug","z":"15b4eb0101535c59","name":"debug 41","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":958.8889312744141,"y":2852.2220516204834,"wires":[]},{"id":"5e29e22fda4585e0","type":"api-current-state","z":"15b4eb0101535c59","name":"","server":"789be23e.da092c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.aiot_switch","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":800,"y":880,"wires":[["6d9774128bc412d6"]]},{"id":"9ec41e414271297f","type":"debug","z":"15b4eb0101535c59","name":"debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2070,"y":820,"wires":[]},{"id":"afcc99ff0f1e1a41","type":"inject","z":"15b4eb0101535c59","d":true,"name":"","props":[],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":530,"y":880,"wires":[["5e29e22fda4585e0"]]},{"id":"0e0fb104b52a7e77","type":"mqtt out","z":"15b4eb0101535c59","d":true,"name":"","topic":"ai/activate","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b6c75b8525b841ad","x":2080,"y":880,"wires":[]},{"id":"6efae8c2cc2537e8","type":"api-current-state","z":"15b4eb0101535c59","d":true,"name":"","server":"789be23e.da092c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.human_presence_sensor_occupancy","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"string","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1440,"y":880,"wires":[["348573967b85a824"]]},{"id":"348573967b85a824","type":"function","z":"15b4eb0101535c59","name":"aiot_switch","func":"if (msg.payload == \"on\"){\n    msg.payload = 1;\n} else\n    msg.payload = 0;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1810,"y":880,"wires":[["0e0fb104b52a7e77","9ec41e414271297f"]]},{"id":"6d9774128bc412d6","type":"function","z":"15b4eb0101535c59","name":"activation","func":"var x = msg.data.attributes;\n\nif (msg.payload == \"on\"){\n    msg.payload = 1;\n    return msg;\n} else\n    msg.payload = 0;\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":880,"wires":[["6efae8c2cc2537e8"]]},{"id":"0825246f3b248219","type":"server-state-changed","z":"15b4eb0101535c59","d":true,"name":"","server":"789be23e.da092c","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_button.reset_face_recognition"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"string","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":650,"y":1400,"wires":[["1d8f49097fd5bb2e","a384ba1fa7c31718","f4578acbec4a4a36","3e6c781e40f25ba4"]]},{"id":"1d8f49097fd5bb2e","type":"exec","z":"15b4eb0101535c59","command":"rm -rf /media/AI/known_faces/guide && mkdir -p /media/AI/known_faces/P_Oil","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":1200,"y":1340,"wires":[[],[],[]]},{"id":"a384ba1fa7c31718","type":"exec","z":"15b4eb0101535c59","command":"rm -rf /media/AI/known_faces/tree && mkdir -p /media/AI/known_faces/Arm","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":1190,"y":1400,"wires":[[],[],[]]},{"id":"f4578acbec4a4a36","type":"exec","z":"15b4eb0101535c59","command":"rm -rf /media/AI/known_faces/nire && mkdir -p /media/AI/known_faces/Jakk","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":1190,"y":1460,"wires":[[],[],[]]},{"id":"3e6c781e40f25ba4","type":"function","z":"15b4eb0101535c59","name":"force re-training","func":"msg.payload = 1;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":1540,"wires":[["340e6b529f107285"]]},{"id":"340e6b529f107285","type":"file","z":"15b4eb0101535c59","name":"","filename":"/media/AI/temp/training_in_process.txt","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1270,"y":1540,"wires":[["2e6fa5d140d55d51"]]},{"id":"2e6fa5d140d55d51","type":"debug","z":"15b4eb0101535c59","name":"debug 40","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1520,"y":1540,"wires":[]},{"id":"4e0b0452fe11b019","type":"mqtt in","z":"15b4eb0101535c59","d":true,"name":"","topic":"sensor/face_recognition/training","qos":"2","datatype":"auto-detect","broker":"b6c75b8525b841ad","nl":false,"rap":true,"rh":0,"inputs":0,"x":590,"y":1120,"wires":[["e91013205c7b75cc"]]},{"id":"b88cd174a94228e3","type":"delay","z":"15b4eb0101535c59","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1120,"y":1120,"wires":[["17ddc632284f7282"]]},{"id":"e91013205c7b75cc","type":"api-call-service","z":"15b4eb0101535c59","name":"","server":"789be23e.da092c","version":7,"debugenabled":false,"action":"input_boolean.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.training_face_recognition"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_boolean","service":"turn_on","x":900,"y":1120,"wires":[["b88cd174a94228e3"]]},{"id":"17ddc632284f7282","type":"api-call-service","z":"15b4eb0101535c59","name":"","server":"789be23e.da092c","version":7,"debugenabled":false,"action":"input_boolean.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.training_face_recognition"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_boolean","service":"turn_off","x":1340,"y":1120,"wires":[["bcc610c95afbfa9a"]]},{"id":"bcc610c95afbfa9a","type":"debug","z":"15b4eb0101535c59","name":"debug 42","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1540,"y":1120,"wires":[]},{"id":"daabcf04f7841ebe","type":"function","z":"15b4eb0101535c59","name":"temp junction","func":"msg.payload = msg.payload;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":420,"wires":[["4f1377aa8ca8bc52"]]},{"id":"9e8f6134764e2d3f","type":"function","z":"15b4eb0101535c59","name":"fan speed junction","func":"msg.payload = msg.payload;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1410,"y":480,"wires":[["ec91258ddf6be76f"]]},{"id":"3dd6e15a5fd4b6c0","type":"server-state-changed","z":"15b4eb0101535c59","d":true,"name":"","server":"789be23e.da092c","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_button.is_guide"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"string","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":630,"y":1800,"wires":[["8ef4e5348f99aebc"]]},{"id":"8ef4e5348f99aebc","type":"function","z":"15b4eb0101535c59","name":"P_Oil","func":"msg.payload = \"P_Oil\"\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":1800,"wires":[["731d88e0cb78278b"]]},{"id":"1c3e1a457aa0f101","type":"server-state-changed","z":"15b4eb0101535c59","d":true,"name":"","server":"789be23e.da092c","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_button.is_tree"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"string","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":620,"y":1860,"wires":[["c473ab8aa0c242bb"]]},{"id":"c473ab8aa0c242bb","type":"function","z":"15b4eb0101535c59","name":"Arm","func":"msg.payload = \"Arm\"\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":1860,"wires":[["731d88e0cb78278b"]]},{"id":"08dfb91742e6627b","type":"server-state-changed","z":"15b4eb0101535c59","d":true,"name":"","server":"789be23e.da092c","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_button.is_nire"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"string","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":620,"y":1920,"wires":[["887b455050d5f834"]]},{"id":"887b455050d5f834","type":"function","z":"15b4eb0101535c59","name":"Jakk","func":"msg.payload = \"Jakk\"\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":1920,"wires":[["731d88e0cb78278b"]]},{"id":"731d88e0cb78278b","type":"file","z":"15b4eb0101535c59","name":"","filename":"/media/AI/temp/training_face_detect_label.txt","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1290,"y":1860,"wires":[["6e55ba6675adfbb5"]]},{"id":"6e55ba6675adfbb5","type":"debug","z":"15b4eb0101535c59","name":"debug 31","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1590,"y":1860,"wires":[]},{"id":"190c97a66522d65e","type":"mqtt in","z":"15b4eb0101535c59","d":true,"name":"","topic":"sensor/face_detected/unknown","qos":"2","datatype":"auto-detect","broker":"b6c75b8525b841ad","nl":false,"rap":true,"rh":0,"inputs":0,"x":603.3333587646484,"y":2329.9999599456787,"wires":[["8b93841dd07bf8ca","b8e3d5744c7ece95"]]},{"id":"f019213c011c0f76","type":"api-call-service","z":"15b4eb0101535c59","name":"","server":"789be23e.da092c","version":7,"debugenabled":false,"action":"tts.speak","floorId":[],"areaId":[],"deviceId":[],"entityId":["tts.google_translate_en_com"],"labelId":[],"data":"{\"media_player_entity_id\":\"media_player.h_ngthmaangaan\",\"message\":\"{{payload.text}}\",\"language\":\"{{payload.lng}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"tts","service":"speak","x":1513.3333587646484,"y":2329.9999599456787,"wires":[["6be31194de1cbb67"]]},{"id":"6be31194de1cbb67","type":"debug","z":"15b4eb0101535c59","name":"debug 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1513.3333587646484,"y":2389.9999599456787,"wires":[]},{"id":"aa7dc31b2d0fed63","type":"function","z":"15b4eb0101535c59","name":"function 1","func":"if (msg.payload == \"on\"){\n    msg.payload = {\n        text: \"มีผู้บุกรุก\",\n        lng: \"th\"\n    }\n\n    return msg;\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1333.3333587646484,"y":2329.9999599456787,"wires":[["f019213c011c0f76"]]},{"id":"8b93841dd07bf8ca","type":"api-current-state","z":"15b4eb0101535c59","name":"","server":"789be23e.da092c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.unknows_notification","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1003.3333587646484,"y":2329.9999599456787,"wires":[["aa7dc31b2d0fed63"]]},{"id":"b8e3d5744c7ece95","type":"function","z":"15b4eb0101535c59","name":"function 8","func":"msg.payload = \"unknown\"\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":873.3333587646484,"y":2389.9999599456787,"wires":[["f579d2b1555b46c2","6cf9203ee75beb67"]]},{"id":"f579d2b1555b46c2","type":"file","z":"15b4eb0101535c59","name":"","filename":"/media/AI/temp/move_to_folder_person.csv","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1143.3333587646484,"y":2389.9999599456787,"wires":[["6be31194de1cbb67"]]},{"id":"300902fccdf56692","type":"inject","z":"15b4eb0101535c59","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":1143.3333587646484,"y":2289.9999599456787,"wires":[["aa7dc31b2d0fed63"]]},{"id":"6cf9203ee75beb67","type":"file","z":"15b4eb0101535c59","name":"","filename":"/media/AI/temp/training_face_detect_label.txt","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1143.7145614624023,"y":2444.5714225769043,"wires":[[]]},{"id":"7518f127021492da","type":"mqtt in","z":"15b4eb0101535c59","d":true,"name":"","topic":"sensor/face_detected/P_Oil","qos":"2","datatype":"auto-detect","broker":"b6c75b8525b841ad","nl":false,"rap":true,"rh":0,"inputs":0,"x":560,"y":340,"wires":[["9a85329265d5ec87","82a71409ea771139"]]},{"id":"b6c75b8525b841ad","type":"mqtt-broker","name":"","broker":"http://192.168.11.111/","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"789be23e.da092c","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false},{"id":"6cf3100f5e784d98","type":"global-config","env":[],"modules":{"node-red-contrib-home-assistant-websocket":"0.80.3"}}]