Lighting/Node-RED flows backup/Light_data_new.json
[{"id":"5587a0e221d63f69","type":"tab","label":"Light data new","disabled":true,"info":"","env":[]},{"id":"28ce6de7bafd5c8d","type":"ha-get-entities","z":"5587a0e221d63f69","name":"","server":"789be23e.da092c","version":1,"rules":[{"condition":"state_object","property":"entity_id","logic":"is","value":"sensor.xiaomi_lumi_sen_ill_mgl01_illuminance","valueType":"str"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":410,"y":140,"wires":[["9c0f03839119ea84","8e477dbb59cafc98"]]},{"id":"9c0f03839119ea84","type":"change","z":"5587a0e221d63f69","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Illuminance\": $number(payload.state)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":140,"wires":[["afac9bdd74e9b02a","f6403124fd5061c5"]]},{"id":"afac9bdd74e9b02a","type":"influxdb out","z":"5587a0e221d63f69","influxdb":"","name":"","measurement":"Xiaomi_Light_sensor","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"AIoT","bucket":"Light_sensor","x":780,"y":140,"wires":[]},{"id":"a9c0cf7ae2d174fa","type":"inject","z":"5587a0e221d63f69","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","v":"true","vt":"bool"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":80,"wires":[["28ce6de7bafd5c8d","3d4de932fa18238a","1ea388802c215d42","cafdc9fb7ef3e674","ef6ef853159dc456","1b169e176d660bb7","1fda8ba22abe050b","2be8f775be6f1eea"]]},{"id":"d0f9cbcbed62f10c","type":"server-state-changed","z":"5587a0e221d63f69","d":true,"name":"Xiaomi trigger","server":"789be23e.da092c","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.xiaomi_lumi_sen_ill_mgl01_illuminance"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":130,"y":140,"wires":[["28ce6de7bafd5c8d"]]},{"id":"f6403124fd5061c5","type":"debug","z":"5587a0e221d63f69","name":"debug 24","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":760,"y":80,"wires":[]},{"id":"3d4de932fa18238a","type":"ha-get-entities","z":"5587a0e221d63f69","name":"","server":"789be23e.da092c","version":1,"rules":[{"condition":"state_object","property":"entity_id","logic":"is","value":"light.a2","valueType":"str"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":410,"y":560,"wires":[["9d63ec8de37eac8c","83bc88f0172eae5f"]]},{"id":"9d63ec8de37eac8c","type":"change","z":"5587a0e221d63f69","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Brightness\": $number(payload.attributes.brightness)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":560,"wires":[["0bf315e353fb2069","e81e77ca884841e6"]]},{"id":"0bf315e353fb2069","type":"influxdb out","z":"5587a0e221d63f69","influxdb":"","name":"","measurement":"Light_A2","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"AIoT","bucket":"Light_sensor","x":780,"y":560,"wires":[]},{"id":"8cd08e769d9831cb","type":"server-state-changed","z":"5587a0e221d63f69","d":true,"name":"A2 light","server":"789be23e.da092c","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["light.a2"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":110,"y":560,"wires":[["3d4de932fa18238a"]]},{"id":"83bc88f0172eae5f","type":"debug","z":"5587a0e221d63f69","name":"debug 25","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":660,"wires":[]},{"id":"e81e77ca884841e6","type":"debug","z":"5587a0e221d63f69","name":"debug 26","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":660,"wires":[]},{"id":"8e477dbb59cafc98","type":"debug","z":"5587a0e221d63f69","name":"debug 27","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":60,"wires":[]},{"id":"1ea388802c215d42","type":"ha-get-entities","z":"5587a0e221d63f69","name":"","server":"789be23e.da092c","version":1,"rules":[{"condition":"state_object","property":"entity_id","logic":"is","value":"sensor.luminance_sensor_illuminance","valueType":"str"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":410,"y":200,"wires":[["137baaf5220a64f2"]]},{"id":"137baaf5220a64f2","type":"change","z":"5587a0e221d63f69","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Illuminance\": $number(payload.state)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":200,"wires":[["cde21bfdafbfee65"]]},{"id":"cde21bfdafbfee65","type":"influxdb out","z":"5587a0e221d63f69","influxdb":"","name":"","measurement":"Zigbee_Light_sensor","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"AIoT","bucket":"Light_sensor","x":780,"y":200,"wires":[]},{"id":"03e499a75e474894","type":"server-state-changed","z":"5587a0e221d63f69","d":true,"name":"luminance sensor illuminance","server":"789be23e.da092c","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.luminance_sensor_illuminance"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":180,"y":200,"wires":[["1ea388802c215d42"]]},{"id":"cafdc9fb7ef3e674","type":"ha-get-entities","z":"5587a0e221d63f69","name":"","server":"789be23e.da092c","version":1,"rules":[{"condition":"state_object","property":"entity_id","logic":"is","value":"sensor.ambient_light_sensor_ambient_light_sensor_bh1750","valueType":"str"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":410,"y":260,"wires":[["c27ae008cd39d761"]]},{"id":"c27ae008cd39d761","type":"change","z":"5587a0e221d63f69","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Illuminance\": $number(payload.state)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":260,"wires":[["e97802b893cd84e4"]]},{"id":"e97802b893cd84e4","type":"influxdb out","z":"5587a0e221d63f69","influxdb":"","name":"","measurement":"BH1750_Light_sensor","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"AIoT","bucket":"Light_sensor","x":780,"y":260,"wires":[]},{"id":"8222f808ea4e4248","type":"server-state-changed","z":"5587a0e221d63f69","d":true,"name":"BH1750","server":"789be23e.da092c","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.ambient_light_sensor_ambient_light_sensor_bh1750"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":120,"y":260,"wires":[["cafdc9fb7ef3e674"]]},{"id":"ef6ef853159dc456","type":"ha-get-entities","z":"5587a0e221d63f69","name":"","server":"789be23e.da092c","version":1,"rules":[{"condition":"state_object","property":"entity_id","logic":"is","value":"sensor.ambient_light_sensor_opt3001_illuminance","valueType":"str"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":410,"y":320,"wires":[["c6d2bc8d399092cf"]]},{"id":"c6d2bc8d399092cf","type":"change","z":"5587a0e221d63f69","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Illuminance\": $number(payload.state)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":320,"wires":[["c997f4cdf63c6593"]]},{"id":"c997f4cdf63c6593","type":"influxdb out","z":"5587a0e221d63f69","influxdb":"","name":"","measurement":"OPT3001_Light_sensor","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"AIoT","bucket":"Light_sensor","x":780,"y":320,"wires":[]},{"id":"601df63ecd3d41e3","type":"server-state-changed","z":"5587a0e221d63f69","d":true,"name":"OPT3001","server":"789be23e.da092c","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.ambient_light_sensor_opt3001_illuminance"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":120,"y":320,"wires":[["ef6ef853159dc456"]]},{"id":"1fda8ba22abe050b","type":"ha-get-entities","z":"5587a0e221d63f69","name":"","server":"789be23e.da092c","version":1,"rules":[{"condition":"state_object","property":"entity_id","logic":"is","value":"sensor.ambient_light_sensor_minolta_t_10_lux_meter","valueType":"str"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":410,"y":460,"wires":[["9cbf1a02bc84351d"]]},{"id":"9cbf1a02bc84351d","type":"change","z":"5587a0e221d63f69","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Illuminance\": $number(payload.state)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":460,"wires":[["53eb0fa18ce4862b"]]},{"id":"53eb0fa18ce4862b","type":"influxdb out","z":"5587a0e221d63f69","influxdb":"","name":"","measurement":"MINOLTA_T-10A_Lux_meter","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"AIoT","bucket":"Light_sensor","x":780,"y":460,"wires":[]},{"id":"293d80e39759ef1e","type":"server-state-changed","z":"5587a0e221d63f69","d":true,"name":"MINOLTA T-10A","server":"789be23e.da092c","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.ambient_light_sensor_minolta_t_10_lux_meter"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":140,"y":460,"wires":[["1fda8ba22abe050b"]]},{"id":"1b169e176d660bb7","type":"ha-get-entities","z":"5587a0e221d63f69","name":"","server":"789be23e.da092c","version":1,"rules":[{"condition":"state_object","property":"entity_id","logic":"is","value":"sensor.ambient_light_sensor_tes_1332a_lux_meter","valueType":"str"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":410,"y":400,"wires":[["277847c735a168da"]]},{"id":"277847c735a168da","type":"change","z":"5587a0e221d63f69","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Illuminance\": $number(payload.state)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":400,"wires":[["f2a59baf1fabc55f"]]},{"id":"f2a59baf1fabc55f","type":"influxdb out","z":"5587a0e221d63f69","influxdb":"","name":"","measurement":"TES_1332A_Lux_meter","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"AIoT","bucket":"Light_sensor","x":780,"y":400,"wires":[]},{"id":"040d23bfd2dd0ea4","type":"server-state-changed","z":"5587a0e221d63f69","d":true,"name":"TES 1332A","server":"789be23e.da092c","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.ambient_light_sensor_tes_1332a_lux_meter"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":130,"y":400,"wires":[["1b169e176d660bb7"]]},{"id":"2be8f775be6f1eea","type":"ha-get-entities","z":"5587a0e221d63f69","name":"","server":"789be23e.da092c","version":1,"rules":[{"condition":"state_object","property":"entity_id","logic":"is","value":"number.opt3001_illuminance_calibrated","valueType":"str"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":410,"y":740,"wires":[["79e61a840d1001c0"]]},{"id":"79e61a840d1001c0","type":"change","z":"5587a0e221d63f69","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Illuminance\": $number(payload.state)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":740,"wires":[["206e5887c42d2cbc"]]},{"id":"206e5887c42d2cbc","type":"influxdb out","z":"5587a0e221d63f69","influxdb":"","name":"","measurement":"Calibrated_OPT3001_Light_sensor","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"AIoT","bucket":"Light_sensor","x":780,"y":740,"wires":[]},{"id":"a1cbc83b1afe6870","type":"server-state-changed","z":"5587a0e221d63f69","d":true,"name":"OPT3001","server":"789be23e.da092c","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["number.opt3001_illuminance_calibrated"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":120,"y":740,"wires":[["2be8f775be6f1eea"]]},{"id":"789be23e.da092c","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false},{"id":"955d575d45eadce3","type":"global-config","env":[],"modules":{"node-red-contrib-home-assistant-websocket":"0.80.3","node-red-contrib-influxdb":"0.7.0"}}]