Lighting/Node-RED flows backup/Light_data.json
[{"id":"a33fa79e76b77f2f","type":"tab","label":"Light data","disabled":true,"info":"Collected since 20:08 24/12/2567","env":[]},{"id":"1a797e1581d04118","type":"ha-get-entities","z":"a33fa79e76b77f2f","name":"","server":"789be23e.da092c","version":1,"rules":[{"condition":"state_object","property":"entity_id","logic":"is","value":"sensor.xiaomi_lumi_sen_ill_mgl01_illuminance","valueType":"str"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":410,"y":200,"wires":[["bf993c242d9ad440","0cc2c63b138561b6"]]},{"id":"bf993c242d9ad440","type":"change","z":"a33fa79e76b77f2f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Illuminance\": $number(payload.state)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":200,"wires":[["59073e767a72d9e3","28d79665c8c651a2"]]},{"id":"59073e767a72d9e3","type":"influxdb out","z":"a33fa79e76b77f2f","influxdb":"","name":"","measurement":"Xiaomi_Light_sensor","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"AIoT","bucket":"Light_sensor","x":780,"y":200,"wires":[]},{"id":"e134219ed956a6e2","type":"inject","z":"a33fa79e76b77f2f","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","v":"true","vt":"bool"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":140,"wires":[["1a797e1581d04118","9801e056879ed73f","d90d39dd29400eb5"]]},{"id":"4d1b42c3b431324f","type":"server-state-changed","z":"a33fa79e76b77f2f","d":true,"name":"Xiaomi trigger","server":"789be23e.da092c","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.xiaomi_lumi_sen_ill_mgl01_illuminance"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":190,"y":200,"wires":[["1a797e1581d04118"]]},{"id":"28d79665c8c651a2","type":"debug","z":"a33fa79e76b77f2f","name":"debug 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":140,"wires":[]},{"id":"9801e056879ed73f","type":"ha-get-entities","z":"a33fa79e76b77f2f","name":"","server":"789be23e.da092c","version":1,"rules":[{"condition":"state_object","property":"entity_id","logic":"is","value":"input_number.real_lux","valueType":"str"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":410,"y":260,"wires":[["06ab159ce4784954"]]},{"id":"06ab159ce4784954","type":"change","z":"a33fa79e76b77f2f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Illuminance\": $number(payload.state)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":260,"wires":[["fee0da571fedf591"]]},{"id":"fee0da571fedf591","type":"influxdb out","z":"a33fa79e76b77f2f","influxdb":"","name":"","measurement":"Calibrated_Xiaomi_Light_sensor","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"AIoT","bucket":"Light_sensor","x":780,"y":260,"wires":[]},{"id":"a8375b53859f8e64","type":"server-state-changed","z":"a33fa79e76b77f2f","d":true,"name":"Real lux trigger","server":"789be23e.da092c","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_number.real_lux"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":200,"y":260,"wires":[["9801e056879ed73f"]]},{"id":"d90d39dd29400eb5","type":"ha-get-entities","z":"a33fa79e76b77f2f","name":"","server":"789be23e.da092c","version":1,"rules":[{"condition":"state_object","property":"entity_id","logic":"is","value":"light.a2","valueType":"str"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":410,"y":320,"wires":[["a94cdcc032def256","e8b2f2139e4fcb52"]]},{"id":"a94cdcc032def256","type":"change","z":"a33fa79e76b77f2f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Brightness\": $number(payload.attributes.brightness)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":320,"wires":[["2db40a56ae2fe971","95c0b0135ceca69d"]]},{"id":"2db40a56ae2fe971","type":"influxdb out","z":"a33fa79e76b77f2f","influxdb":"","name":"","measurement":"Light_A2","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"AIoT","bucket":"Light_sensor","x":780,"y":320,"wires":[]},{"id":"d85277eb6f07d890","type":"server-state-changed","z":"a33fa79e76b77f2f","d":true,"name":"Real lux trigger","server":"789be23e.da092c","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["light.a2"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":200,"y":320,"wires":[["d90d39dd29400eb5"]]},{"id":"e8b2f2139e4fcb52","type":"debug","z":"a33fa79e76b77f2f","name":"debug 16","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":420,"wires":[]},{"id":"95c0b0135ceca69d","type":"debug","z":"a33fa79e76b77f2f","name":"debug 17","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":940,"y":420,"wires":[]},{"id":"0cc2c63b138561b6","type":"debug","z":"a33fa79e76b77f2f","name":"debug 18","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":120,"wires":[]},{"id":"789be23e.da092c","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false},{"id":"5611757b99e6e256","type":"global-config","env":[],"modules":{"node-red-contrib-home-assistant-websocket":"0.80.3","node-red-contrib-influxdb":"0.7.0"}}]